In [39]:
import sqlite3
import random
import numpy as np
from faker import Faker
import pandas as pd
from datetime import date, timedelta

# Inicializar o Faker para dados em Português
faker = Faker('pt_PT')

In [40]:
Departamentos = ["Recursos Humanos", "Tecnologia da Informação", "Financeiro", "Marketing", "Vendas", "Qualidade", "Atendimento ao Cliente", "Jurídico"]
Cargos = ["Gerente de Projetos", "Analista de Dados", "Desenvolvedor de Software Sénior", "Desenvolvedor de Software Júnior", "Engenheiro de DevOps","Designer UI/UX","Analista de Sistemas","Técnico de Suporte de TI","Analista de Recursos Humanos", "Especialista em Recrutamento", "Gerente de Marketing", "Especialista em Marketing Digital", "Analista de Mídia Social","Redator (Copywriter)","Gerente de Vendas","Executivo de Contas","Representante de Vendas Interno","Analista Financeiro","Contador","Gerente Financeiro","Analista de Qualidade","Inspetor de Qualidade","Agente de Atendimento ao Cliente","Supervisor de Atendimento ao Cliente",  "Especialista em Sucesso do Cliente",  "Advogado Corporativo","Assistente Jurídico","Assistente Administrativo","Recepcionista","Diretor de Operações (COO)"]

In [41]:
def criar_departamentos():
    lista_departamentos = []
    for i in range(1, len(Departamentos) + 1):
        lista_departamentos.append({
            "ID_depart": i,
            "Nome": Departamentos[i-1],
            "ID_gerente": None # Começa como Nulo
        })
    return pd.DataFrame(lista_departamentos)

In [42]:
def criar_funcionarios(n=50):
    lista_funcionarios = []
    for i in range(1, n + 1):
        lista_funcionarios.append({
            "ID_fun": i,
            "NIF": str(283684274 + i),
            "Primeiro_nome": faker.first_name(),
            "Ultimo_nome": faker.last_name(),
            "Nome_rua": faker.street_name(),
            "Nome_localidade": faker.city(),
            "Codigo_postal": faker.postcode(),
            "Num_telemovel": faker.phone_number(),
            "Email": faker.unique.email(),
            "Data_nascimento": faker.date_of_birth(minimum_age=18, maximum_age=65),
            "Cargo": random.choice([cargo for cargo in Cargos if cargo != "Gerente"]),
            "ID_depart": np.random.randint(1, len(Departamentos) + 1)
        })
    return pd.DataFrame(lista_funcionarios)

In [43]:
Departamentos = criar_departamentos()
Funcionarios = criar_funcionarios()
Departamentos["ID_gerente"] = [np.random.randint(1, len(Funcionarios) + 1) for i in range(len(Departamentos))]

In [44]:
Departamentos

   ID_depart                      Nome  ID_gerente
0          1          Recursos Humanos          11
1          2  Tecnologia da Informação          30
2          3                Financeiro          12
3          4                 Marketing          44
4          5                    Vendas           8
5          6                 Qualidade          29
6          7    Atendimento ao Cliente          25
7          8                  Jurídico          48

In [45]:
Funcionarios

,ID_fun,NIF,Primeiro_nome,Ultimo_nome,Nome_rua,Nome_localidade,Codigo_postal,Num_telemovel,Email,Data_nascimento,Cargo,ID_depart
0,1,283684275,Gustavo,Anjos,Praça de Machado,Santo Tirso,9977-847,(351) 919274797,amaralclara@example.net,1995-08-20,Analista de Recursos Humanos,5
1,2,283684276,Iara,Castro,R. Isabel Gaspar,Santiago do Cacém,7332-664,(351) 922922200,tmagalhaes@example.net,1970-08-31,Redator (Copywriter),5
2,3,283684277,Joel,Garcia,Travessa Mara Cunha,Castelo Branco,1215-536,(351) 933639221,whenriques@example.com,1961-03-05,Especialista em Marketing Digital,1
3,4,283684278,César,Pacheco,Alameda Ramos,Espinho,3659-045,(351) 911 808 834,lia45@example.org,1980-12-14,Diretor de Operações (COO),4
4,5,283684279,Frederico,Abreu,Avenida D. Carlos I ao Parque das Nações,Póvoa de Varzim,2204-241,(351) 918156461,rborges@example.net,1989-08-04,Analista de Qualidade,6
5,6,283684280,Constança,Gomes,R. Barbosa,Mêda,3921-405,(351) 965 111 881,melanievalente@example.com,1990-08-27,Analista de Mídia Social,3
6,7,283684281,Bruno,Nogueira,R. de Cruz,Silves,4907-060,(351) 966097783,goncalvesmelanie@example.net,1990-01-12,Analista de Sistemas,8
7,8,283684282,Sara,Torres,Largo de Branco,Alcobaça,1893-768,(351) 915 679 469,netonoah@example.net,1961-08-21,Analista de Qualidade,8
8,9,283684283,Francisco,Carneiro,Avenida Márcio Freitas,Amora,2567-832,929720580,vicentemelo@example.com,1969-05-14,Especialista em Sucesso do Cliente,2
9,10,283684284,Hugo,Pinheiro,Av Leonor Ferreira,Mangualde,1126-407,(351) 932 392 893,aalmeida@example.org,1984-01-15,Especialista em Sucesso do Cliente,4
10,11,283684285,Duarte,Sousa,Alameda Ramos,Tarouca,8159-494,+351921474990,ggoncalves@example.net,1980-01-29,Representante de Vendas Interno,6
11,12,283684286,Diana,Borges,Largo de Macedo,Fafe,2531-987,(351) 930 860 293,sergio67@example.com,1981-04-02,Desenvolvedor de Software Júnior,1
12,13,283684287,Noah,Abreu,R. Madalena Martins,Esposende,6779-921,929127056,netoema@example.org,1975-04-23,Analista de Qualidade,6
13,14,283684288,Sofia,Matias,Av Nunes,Fafe,2683-939,915645025,hugolourenco@example.com,2003-12-20,Gerente de Vendas,8
14,15,283684289,Alícia,Matias,Avenida Pereira,Tarouca,0385-049,(351) 913300740,mnogueira@example.net,1993-09-05,Analista de Recursos Humanos,2
15,16,283684290,David,Melo,Av Teixeira,Fiães,3381-780,(351) 969002811,renatomendes@example.org,1983-06-06,Analista Financeiro,4
16,17,283684291,Jorge,Amorim,Largo de Correia,Valongo,7586-584,917 274 243,soaresluca@example.net,1999-05-25,Agente de Atendimento ao Cliente,4
17,18,283684292,Mateus,Abreu,Praça de Neto,Coimbra,9045-295,(351) 911587471,gabrielafernandes@example.com,1972-08-30,Agente de Atendimento ao Cliente,8
18,19,283684293,Amélia,Domingues,R. Branco,Fundão,5924-855,+351249709540,ismael31@example.com,1982-12-10,Analista de Dados,6
19,20,283684294,Francisca,Macedo,Rua de Vieira,Praia da Vitória,4414-367,(351) 935 950 351,erikavicente@example.org,2003-04-03,Analista de Recursos Humanos,6
20,21,283684295,Miriam,Vieira,Largo Diego Faria,Ermesinde,6732-467,+351933571561,bcoelho@example.net,1996-12-29,Especialista em Marketing Digital,4
21,22,283684296,Eduarda,Rodrigues,Alameda Faria,Elvas,1234-795,(351) 967825387,hmoreira@example.com,1997-02-15,Especialista em Recrutamento,2
22,23,283684297,Álvaro,Magalhães,Travessa Barros,Mirandela,2164-433,(351) 960 265 223,nelson41@example.org,1999-12-17,Especialista em Sucesso do Cliente,7
23,24,283684298,Noah,Neto,Rua de S. Macário,Loures,2504-032,(351) 963242268,miguelmota@example.com,1963-01-09,Desenvolvedor de Software Júnior,7
24,25,283684299,Luísa,Leal,Rua dos Melros,Portimão,2705-644,+351918261811,carlosdomingues@example.org,1998-06-23,Gerente de Marketing,5
25,26,283684300,Margarida,Leal,Travessa Coelho,Porto Santo,1279-359,258503288,teixeiranair@example.net,1959-12-10,Inspetor de Qualidade,2
26,27,283684301,Micael,Matias,Avenida Júlia Andrade,Lagoa,0086-881,+351931596660,dantunes@example.com,1983-02-03,Gerente Financeiro,8
27,28,283684302,André,Neto,Praça de Torres,Ponta Delgada,5767-157,926 568 135,danjos@example.org,2001-11-19,Redator (Copywriter),6
28,29,283684303,Margarida,Amorim,Alameda de Figueiredo,Peso da Régua,4872-684,+351926350141,soraia46@example.org,1994-11-03,Analista de Qualidade,8
29,30,283684304,Paulo,Lima,Alameda Miranda,Angra do Heroísmo,9479-245,(351) 932 380 938,ivanfaria@example.com,1980-10-14,Diretor de Operações (COO),8
30,31,283684305,Tomás,Gonçalves,Travessa Letícia Fonseca,Torres Novas,1901-595,(351) 920 688 792,tandrade@example.org,1970-06-12,Advogado Corporativo,6
31,32,283684306,Raquel,Henriques,R. das Pedras,Gandra,7367-599,(351) 921 513 374,matiasfrancisca@example.net,1962-05-14,Analista de Sistemas,4
32,33,283684307,Sandro,Machado,Alameda de Pinto,Abrantes,1110-897,(351) 962439186,bianca05@example.net,2006-10-22,Especialista em Recrutamento,5
33,34,283684308,Camila,Valente,R. Gonçalo Valente,Funchal,6457-506,(351) 288438189,motairina@example.com,1969-01-01,Desenvolvedor de Software Júnior,8
34,35,283684309,Afonso,Lourenço,Av Machado de Asis,Montijo,5236-896,(351) 939028247,antunesvitoria@example.org,1996-09-13,Gerente Financeiro,2
35,36,283684310,Rodrigo,Pinto,Rua de Santos,Amora,9777-736,(351) 935 597 570,carlotaoliveira@example.com,2004-07-04,Gerente de Marketing,8
36,37,283684311,Emanuel,Pinho,Avenida de Alves,Ourém,6125-448,966 384 610,margaridacorreia@example.org,1997-06-07,Redator (Copywriter),6
37,38,283684312,Rúben,Alves,Avenida Teixeira,Sacavém,6763-174,(351) 241 970 523,pandrade@example.org,1961-06-25,Gerente de Marketing,1
38,39,283684313,Francisca,Paiva,Av Assunção,Lisboa,8551-172,(351) 963 022 356,aliciaassuncao@example.org,2007-05-26,Designer UI/UX,3
39,40,283684314,Paulo,Anjos,Av Vaz,Tondela,7719-924,968735994,victoria53@example.net,1982-07-06,Gerente de Vendas,3
40,41,283684315,Maria,Monteiro,Rua de Torres,Seia,1185-285,216 866 483,josemarques@example.com,1999-07-29,Contador,1
41,42,283684316,Daniela,Melo,Praça Afonso Maia,Almada,9263-698,(351) 960 454 835,mouraduarte@example.org,2005-03-11,Gerente de Vendas,8
42,43,283684317,Luca,Guerreiro,Av de Magalhães,São Salvador de Lordelo,3129-477,(351) 913191315,barbararodrigues@example.net,2004-02-26,Analista de Dados,7
43,44,283684318,Gil,Barbosa,Avenida Macedo,Funchal,6559-482,(351) 967106750,pilardomingues@example.net,1998-05-19,Assistente Administrativo,3
44,45,283684319,Mário,Coelho,Avenida Fábio Almeida,Alcácer do Sal,7951-279,(351) 926246396,ameliatorres@example.net,1990-03-09,Analista de Dados,2
45,46,283684320,Nicole,Macedo,Travessa de Assunção,Reguengos de Monsaraz,8005-450,(351) 969550627,marquesisabela@example.com,1999-02-01,Desenvolvedor de Software Júnior,4
46,47,283684321,Edgar,Baptista,Rua de Lopes,Lamego,2083-959,(351) 927 227 129,sandromorais@example.net,1984-07-19,Analista de Qualidade,6
47,48,283684322,Luca,Rocha,Avenida da Cova da Moura,Espinho,5014-518,(351) 925 173 438,vitoriatorres@example.com,1970-05-26,Desenvolvedor de Software Sénior,3
48,49,283684323,Juliana,Neves,Largo de Batista,Praia da Vitória,1759-878,+351933982941,sousaanita@example.org,1960-02-03,Engenheiro de DevOps,4
49,50,283684324,Pedro,Barros,Praça Azevedo,Albufeira,1019-603,(351) 924753497,lopesbenjamim@example.net,2007-01-25,Analista Financeiro,4

In [46]:
# Adicionar os departamentos à tabela sem os ids dos gerentes
# conn = sqlite3.connect("C:/Users/diogo/OneDrive/Documentos/FCUL/Bases de dados/projeto_bd/Tabelas_teste.db")
# # departamentos_sem_gerente_df['ID_gerente'] = None
# departamentos_sem_gerente_df.to_sql('Departamentos', conn, if_exists='append', index=False)
# funcionarios_df.to_sql('Funcionarios', conn, if_exists='append', index=False)
# cursor = conn.cursor()
#for index, row in departamentos_df.iterrows():
  #  if pd.notna(row['ID_gerente']):
   #     cursor.execute("UPDATE Departamentos SET ID_gerente = ? WHERE ID_depart = ?", (int(row['ID_gerente']), int(row['ID_depart'])))
#conn.commit()
#conn.close()

In [47]:
def criar_remuneracoes_salarios_beneficios(funcionarios_df):
    """
    Gera dados para as tabelas Remuneracoes, Salario e Beneficios.
    A Data_fim tem 50% de chance de ser nula (contrato ativo) e 50% de chance
    de ser uma data futura.
    """
    lista_remuneracoes = []
    lista_salarios = []
    lista_beneficios = []

    tipos_de_beneficios = ['Subsídio Alimentação', 'Seguro Saúde', 'Carro Empresa', 'Subsídio Transporte', 'Telemóvel Empresa']

    for index, funcionario in funcionarios_df.iterrows():
        id_fun = funcionario['ID_fun']
        
        # 1. Criar o registo na tabela Remuneracoes
        data_inicio = faker.date_between(start_date='-5y', end_date='today')
        
        # 50% de chance de o contrato ter terminado, 50% de estar ativo (None)
        # Se terminou, a data de fim é entre 3 meses e 4 anos depois do início.
        data_fim = (data_inicio + timedelta(days=random.randint(90, 1460))) if random.random() < 0.5 else None

        remuneracao_record = {
            "ID_fun": id_fun,
            "Data_inicio": data_inicio,
            "Data_fim": data_fim
        }
        lista_remuneracoes.append(remuneracao_record)
        
        # 2. Criar o registo correspondente na tabela Salario
        salario_bruto = round(np.random.normal(loc=1600, scale=700), 2)
        if salario_bruto < 950: salario_bruto = 950 # Salário mínimo aprox. para 2025

        salario_record = {
            "ID_fun": id_fun,
            "Data_inicio": data_inicio,
            "salario_bruto": salario_bruto,
        }
        lista_salarios.append(salario_record)
        
        # 3. Criar zero ou mais registos na tabela Beneficios, a chance de ter beneficios é 80%
        if random.random() < 0.8:
            num_beneficios = random.randint(1, 3)
            beneficios_para_este_fun = random.sample(tipos_de_beneficios, num_beneficios)
            
            for tipo_beneficio in beneficios_para_este_fun:
                beneficio_record = {
                    "ID_fun": id_fun,
                    "Data_inicio": data_inicio,
                    "tipo": tipo_beneficio,
                    "valor": round(random.uniform(30, 450), 2),
                }
                lista_beneficios.append(beneficio_record)

    return pd.DataFrame(lista_remuneracoes), pd.DataFrame(lista_salarios), pd.DataFrame(lista_beneficios)

In [48]:
Remuneracoes, Salarios, Beneficios = criar_remuneracoes_salarios_beneficios(Funcionarios)

In [49]:
Remuneracoes

    ID_fun Data_inicio    Data_fim
0        1  2025-05-08        None
1        2  2022-01-21  2025-06-18
2        3  2022-06-16        None
3        4  2021-10-30        None
4        5  2022-09-17        None
5        6  2021-04-30  2023-09-10
6        7  2024-10-23        None
7        8  2024-11-15  2028-04-28
8        9  2023-10-20  2024-03-20
9       10  2023-10-21  2024-12-04
10      11  2024-12-16        None
11      12  2024-12-14        None
12      13  2025-04-03        None
13      14  2024-08-22  2025-01-01
14      15  2025-03-29        None
15      16  2020-11-05        None
16      17  2022-03-10        None
17      18  2023-02-06        None
18      19  2021-12-06  2022-08-17
19      20  2025-04-21  2027-01-06
20      21  2021-03-24  2021-12-28
21      22  2025-08-23        None
22      23  2025-05-10  2029-02-02
23      24  2024-10-02  2025-10-05
24      25  2021-11-25  2022-08-22
25      26  2022-09-27        None
26      27  2024-05-10        None
27      28  2023-05-04        None
28      29  2023-09-22        None
29      30  2023-04-04        None
30      31  2021-06-03        None
31      32  2023-11-12        None
32      33  2022-09-20  2025-12-28
33      34  2023-03-16  2025-02-19
34      35  2021-01-23  2023-11-02
35      36  2023-11-02        None
36      37  2023-04-03        None
37      38  2025-06-11        None
38      39  2024-12-23        None
39      40  2023-04-18  2027-02-27
40      41  2021-01-21        None
41      42  2023-08-10  2027-01-12
42      43  2021-11-24        None
43      44  2021-05-01        None
44      45  2021-05-26        None
45      46  2025-06-17  2028-10-17
46      47  2024-09-17  2025-08-02
47      48  2022-04-29        None
48      49  2021-05-30        None
49      50  2022-11-19  2026-06-13

In [50]:
Salarios

    ID_fun Data_inicio  salario_bruto
0        1  2025-05-08        2293.73
1        2  2022-01-21        1781.77
2        3  2022-06-16        1190.02
3        4  2021-10-30        1552.65
4        5  2022-09-17         950.00
5        6  2021-04-30        1887.45
6        7  2024-10-23        2028.33
7        8  2024-11-15        1435.68
8        9  2023-10-20        1008.50
9       10  2023-10-21        1325.16
10      11  2024-12-16        2362.77
11      12  2024-12-14         950.00
12      13  2025-04-03         950.00
13      14  2024-08-22        1786.71
14      15  2025-03-29        2258.85
15      16  2020-11-05        2091.80
16      17  2022-03-10        2230.25
17      18  2023-02-06        2012.92
18      19  2021-12-06        2133.80
19      20  2025-04-21        1706.94
20      21  2021-03-24        1114.89
21      22  2025-08-23        1223.42
22      23  2025-05-10        2034.36
23      24  2024-10-02        1727.48
24      25  2021-11-25        2041.57
25      26  2022-09-27         950.00
26      27  2024-05-10        1525.48
27      28  2023-05-04         950.00
28      29  2023-09-22        1790.57
29      30  2023-04-04         950.00
30      31  2021-06-03        1731.90
31      32  2023-11-12        2238.76
32      33  2022-09-20        1197.32
33      34  2023-03-16        1737.55
34      35  2021-01-23        1713.43
35      36  2023-11-02        1109.46
36      37  2023-04-03        3514.17
37      38  2025-06-11         950.00
38      39  2024-12-23         950.00
39      40  2023-04-18        2914.39
40      41  2021-01-21        1490.58
41      42  2023-08-10        1874.36
42      43  2021-11-24        2446.00
43      44  2021-05-01        2413.13
44      45  2021-05-26        1733.69
45      46  2025-06-17        1994.20
46      47  2024-09-17        1874.38
47      48  2022-04-29         950.00
48      49  2021-05-30         950.00
49      50  2022-11-19        1464.86

In [51]:
Beneficios

    ID_fun Data_inicio                  tipo   valor
0        1  2025-05-08          Seguro Saúde  333.57
1        2  2022-01-21     Telemóvel Empresa  426.69
2        3  2022-06-16  Subsídio Alimentação  302.96
3        3  2022-06-16     Telemóvel Empresa   65.66
4        4  2021-10-30         Carro Empresa   85.36
..     ...         ...                   ...     ...
87      49  2021-05-30          Seguro Saúde   55.00
88      49  2021-05-30   Subsídio Transporte  432.42
89      50  2022-11-19          Seguro Saúde  256.65
90      50  2022-11-19  Subsídio Alimentação  312.44
91      50  2022-11-19     Telemóvel Empresa  295.73

[92 rows x 4 columns]

In [52]:
def criar_ferias(funcionarios_df):
    """
    NÃO TEM O NUM_DIAS_PERMITIDOS
    Gera um histórico de férias para os funcionários.
    Cada funcionário pode ter entre 0 a 4 registos de férias.
    """
    lista_ferias = []
    estados_possiveis = ['Aprovado', 'Aprovado', 'Aprovado', 'Aprovado', 'Rejeitado', 'Por aprovar']
    
    for index, funcionario in funcionarios_df.iterrows():
        id_fun = funcionario['ID_fun']
        
        num_periodos_ferias = random.randint(0, 4)
        
        for _ in range(num_periodos_ferias):
            data_inicio = faker.date_between(start_date='-3y', end_date='today')
            num_dias = random.randint(2, 15)
            data_fim = data_inicio + timedelta(days=num_dias)
            
            ferias_record = {
                "ID_fun": id_fun,
                "data_inicio": data_inicio,
                "data_fim": data_fim,
                "num_dias": num_dias,
                "estado_aprov": random.choice(estados_possiveis)
            }
            lista_ferias.append(ferias_record)
            
    return pd.DataFrame(lista_ferias)

In [53]:
Ferias = criar_ferias(Funcionarios)
Ferias

     ID_fun data_inicio    data_fim  num_dias estado_aprov
0         1  2023-02-03  2023-02-11         8     Aprovado
1         2  2024-04-03  2024-04-16        13     Aprovado
2         3  2025-11-03  2025-11-06         3     Aprovado
3         3  2024-01-08  2024-01-21        13     Aprovado
4         5  2025-10-03  2025-10-11         8  Por aprovar
..      ...         ...         ...       ...          ...
97       48  2025-05-04  2025-05-17        13     Aprovado
98       49  2025-10-25  2025-10-27         2    Rejeitado
99       49  2023-11-04  2023-11-07         3     Aprovado
100      49  2023-05-26  2023-06-04         9    Rejeitado
101      49  2024-11-09  2024-11-18         9     Aprovado

[102 rows x 5 columns]

In [54]:
def criar_dependentes(funcionarios_df):
    """
    Gera uma lista de dependentes e depois limpa os dados para garantir que
    nenhum funcionário tem mais do que um dependente com o parentesco 'Pai/Mãe'.

    Regras adicionadas:
    - 'Pai/Mãe' tem sempre data de nascimento ANTERIOR à do funcionário (>= 18 e <= 50 anos mais velho, limitado a 100 anos de idade total)
    - 'Filho(a)' tem sempre data de nascimento POSTERIOR à do funcionário (pelo menos 1 dia depois)
    """
    lista_dependentes = []
    # Usamos 'Pai/Mãe' como uma única categoria para simplificar
    parentescos_possiveis = ['Filho(a)', 'Cônjuge', 'Enteado(a)', 'Pai/Mãe', 'Filho(a)']  # Repetimos 'Filho(a)' para aumentar a probabilidade
    sexos_possiveis = ['Masculino', 'Feminino', 'Outro']

    for index, funcionario in funcionarios_df.iterrows():
        id_fun = funcionario['ID_fun']
        data_nasc_funcionario = funcionario['Data_nascimento']

        if random.random() < 0.7:
            num_dependentes = random.randint(1, 4)  # Aumentei para 4 para ter mais chance de criar duplicados para limpar

            for _ in range(num_dependentes):
                parentesco = random.choice(parentescos_possiveis)

                # Lógica para gerar data de nascimento conforme o parentesco
                if parentesco == 'Pai/Mãe':
                    # Calcular idade atual do funcionário
                    idade_funcionario = (date.today() - data_nasc_funcionario).days // 365
                    idade_minima_pai = idade_funcionario + 18
                    idade_maxima_pai = min(idade_funcionario + 50, 100)  # Limitar a 100 anos de idade
                    # Garantir limites válidos (se o funcionário for muito jovem, ajusta)
                    if idade_minima_pai > idade_maxima_pai:
                        idade_minima_pai = idade_maxima_pai - 1 if idade_maxima_pai > 0 else 18
                    data_nascimento = faker.date_of_birth(minimum_age=idade_minima_pai, maximum_age=idade_maxima_pai)
                elif parentesco == 'Filho(a)':
                    # Filho deve ser mais novo: gerar data depois da do funcionário
                    start_child = data_nasc_funcionario + timedelta(days=1)
                    # Se por algum motivo o funcionário nasceu "hoje", o filho terá a mesma regra +1 dia
                    if start_child >= date.today():
                        data_nascimento = start_child
                    else:
                        # Usa API explícita para limites de datas
                        data_nascimento = faker.date_between_dates(date_start=start_child, date_end=date.today())
                else:
                    # Outros dependentes podem ter qualquer idade plausível (0 a 80 anos de idade agora)
                    data_nascimento = faker.date_of_birth(minimum_age=0, maximum_age=80)

                dependente_record = {
                    "ID_Fun": id_fun,
                    "nome": faker.name(),
                    "sexo": random.choice(sexos_possiveis),
                    "data_nascimento": data_nascimento,
                    "parentesco": parentesco
                }
                lista_dependentes.append(dependente_record)

    # --- PASSO DE LIMPEZA ---

    # 1. Criar o DataFrame com os dados
    if not lista_dependentes:
        return pd.DataFrame()  # Retorna um DataFrame vazio se nenhum dependente foi gerado

    dependentes_bruto_df = pd.DataFrame(lista_dependentes)

    # 2. Separar os pais/mães dos outros dependentes
    pais_maes_df = dependentes_bruto_df[dependentes_bruto_df['parentesco'] == 'Pai/Mãe']
    outros_dependentes_df = dependentes_bruto_df[dependentes_bruto_df['parentesco'] != 'Pai/Mãe']

    # 3. Remover duplicados APENAS da parte dos pais/mães
    pais_maes_unicos_df = pais_maes_df.drop_duplicates(subset=['ID_Fun', 'parentesco'], keep='first')

    # 4. Juntar novamente as duas partes para ter o DataFrame final e limpo
    dependentes_final_df = pd.concat([pais_maes_unicos_df, outros_dependentes_df], ignore_index=True)

    return dependentes_final_df

In [55]:
Dependentes = criar_dependentes(Funcionarios)
Dependentes

    ID_Fun                  nome       sexo data_nascimento  parentesco
0        1       Emanuel Cardoso  Masculino      1972-06-28     Pai/Mãe
1        2            Emma Pinto   Feminino      1927-08-20     Pai/Mãe
2        5         Emília Mendes      Outro      1960-08-13     Pai/Mãe
3        7            Luísa Neto  Masculino      1964-10-02     Pai/Mãe
4       13     Nicole Nascimento      Outro      1940-06-16     Pai/Mãe
..     ...                   ...        ...             ...         ...
86      45      Constança Santos  Masculino      1982-10-26  Enteado(a)
87      48         Marco Cardoso      Outro      2018-06-15    Filho(a)
88      48  Ricardo Brito-Mendes   Feminino      2002-12-22     Cônjuge
89      50            Lara Matos  Masculino      2024-05-15    Filho(a)
90      50       Mafalda Valente  Masculino      2011-10-14  Enteado(a)

[91 rows x 5 columns]

In [56]:
def criar_faltas(funcionarios_df):
    """
    Gera um histórico de faltas para os funcionários.
    Cada funcionário terá entre 0 e 10 faltas registadas.
    """
    lista_faltas = []
    justificacoes_comuns = ["Consulta médica","Doença súbita","Apoio à família","Assuntos pessoais urgentes","Procedimentos legais/burocráticos","Avaria de transporte", None, None] # Para simular faltas injustificadas

    # Itera sobre cada funcionário para criar o seu histórico de faltas
    for index, funcionario in funcionarios_df.iterrows():
        id_fun = funcionario['ID_fun']
        
        # Cada funcionário terá um número aleatório de faltas (de 0 a 10)
        num_faltas = int(np.random.normal(loc=3, scale=2))
        
        # Para evitar que as faltas do mesmo funcionário sejam todas no mesmo dia,
        # geramos um conjunto de datas únicas para este funcionário
        datas_possiveis = [faker.date_between(start_date='-3y', end_date='today') for _ in range(num_faltas)]
        datas_unicas = set(datas_possiveis) # 'set' remove datas duplicadas automaticamente
        
        for data_falta in datas_unicas:
            falta_record = {
                "ID_Fun": id_fun,
                "Data": data_falta,
                "Justificacao": random.choice(justificacoes_comuns)
            }
            lista_faltas.append(falta_record)
            
    return pd.DataFrame(lista_faltas)

In [57]:
Faltas = criar_faltas(Funcionarios)
Faltas

     ID_Fun        Data                       Justificacao
0         2  2024-06-25  Procedimentos legais/burocráticos
1         2  2025-03-22               Avaria de transporte
2         2  2024-03-22                               None
3         2  2024-02-14                    Apoio à família
4         2  2025-10-08                      Doença súbita
..      ...         ...                                ...
132      48  2025-07-05         Assuntos pessoais urgentes
133      48  2025-06-10  Procedimentos legais/burocráticos
134      49  2024-11-25         Assuntos pessoais urgentes
135      50  2024-03-01               Avaria de transporte
136      50  2023-01-18         Assuntos pessoais urgentes

[137 rows x 3 columns]

In [58]:
def criar_historico_empresas(funcionarios_df):
    """
    Gera um histórico profissional para os funcionários com nomes de empresa realistas.
    A entrada mais recente ("última empresa") para cada funcionário será sempre 'bd054'.
    Para essa entrada, a Data_fim pode ser NULL (emprego atual) ou uma data válida.
    As restantes entradas são geradas cronologicamente mais antigas.
    """
    lista_historico = []
    
    # Itera sobre cada funcionário
    for index, funcionario in funcionarios_df.iterrows():
        id_fun = funcionario['ID_fun']
        
        # 80% de chance de o funcionário ter um histórico profissional
        if random.random() < 0.8:
            num_historicos = random.randint(1, 3)
            
            # Âncora para datas do passado (caso a última entrada tenha Data_fim != NULL)
            latest_end_date = date.today() - timedelta(days=random.randint(90, 730))
            
            for i in range(num_historicos):
                if i == 0:
                    # Última empresa obrigatoriamente 'bd054'
                    nome_empresa = 'bd054'
                    # 50% de chance de ser emprego atual (Data_fim NULL)
                    if random.random() < 0.5:
                        data_fim = None
                        # Gera um início entre 1 mês e 5 anos atrás
                        data_inicio = date.today() - timedelta(days=random.randint(30, 365 * 5))
                        # Atualiza a âncora para entradas mais antigas
                        latest_end_date = data_inicio - timedelta(days=random.randint(30, 365))
                    else:
                        # Emprego passado recente
                        data_fim = latest_end_date
                        data_inicio = data_fim - timedelta(days=random.randint(365, 365 * 5))
                        latest_end_date = data_inicio - timedelta(days=random.randint(30, 365))
                else:
                    # Empregos mais antigos
                    nome_empresa = faker.company()
                    data_fim = latest_end_date
                    data_inicio = data_fim - timedelta(days=random.randint(365, 365 * 5))
                    latest_end_date = data_inicio - timedelta(days=random.randint(30, 365))
                
                historico_record = {
                    "ID_Fun": id_fun,
                    "Nome_empresa": nome_empresa,
                    "Cargo": faker.job(),
                    "Data_inicio": data_inicio,
                    "Data_fim": data_fim
                }
                lista_historico.append(historico_record)

    return pd.DataFrame(lista_historico)

In [59]:
Historico_empresas = criar_historico_empresas(Funcionarios)
Historico_empresas

,ID_Fun,Nome_empresa,Cargo,Data_inicio,Data_fim
0,1,bd054,Carpinteiro naval,2025-08-02,None
1,2,bd054,Bate chapa de veículos automóveis,2020-10-23,2024-01-03
2,3,bd054,Prestador de serviços na rua,2021-09-26,2024-05-03
3,4,bd054,"Despachante, transitário",2020-12-27,None
4,5,bd054,Auxiliar de enfermagem,2024-11-17,None
...,...,...,...,...,...
75,47,Fonseca Pereira S.A.,Treinador de desportos,2019-09-25,2023-02-12
76,48,bd054,Preparador e conservador de peixe,2020-10-08,2025-01-01
77,48,Domingues Pinheiro S/A,Técnico de sistemas de comunicações via rádio,2019-02-21,2020-04-14
78,48,Freitas,Operador de máquinas para fabrico de produtos ...,2016-03-12,2018-08-19
79,50,bd054,Técnico de eletricidade,2021-09-29,2024-10-01

In [60]:
def criar_modulo_recrutamento(funcionarios_df, departamentos_df, num_candidatos=40, num_vagas=10):
    """
    Gera dados para as tabelas Candidatos, Vagas, Requisitos_vaga e Candidato_a.
    """
    lista_candidatos = []
    lista_vagas = []
    lista_requisitos = []
    lista_candidaturas = []

    # --- 1. Gerar Candidatos ---
    for i in range(1, num_candidatos + 1):
        candidato_record = {
            "ID_cand": i,
            "Nome": faker.name(),
            "Email": faker.unique.email(),
            "Telemovel": faker.phone_number(),
            "CV": None, # BLOBs são representados como None
            "carta_motivacao": None
        }
        lista_candidatos.append(candidato_record)
    candidatos_df = pd.DataFrame(lista_candidatos)
    ids_candidatos_disponiveis = candidatos_df['ID_cand'].tolist()

    # --- 2. Gerar Vagas ---
    ids_departamentos_disponiveis = departamentos_df['ID_depart'].tolist()
    estados_vaga = ['Aberta', 'Fechada', 'Fechada', 'Fechada', 'Suspensa'] # Mais chance de estar fechada

    for i in range(1, num_vagas + 1):
        vaga_record = {
            "ID_vaga": i,
            "Data_abertura": faker.date_between(start_date='-2y', end_date='today'),
            "Estado": random.choice(estados_vaga),
            "ID_depart": random.choice(ids_departamentos_disponiveis)
        }
        lista_vagas.append(vaga_record)
    vagas_df = pd.DataFrame(lista_vagas)
    
    # --- 3. Gerar Requisitos para cada Vaga ---
    requisitos_possiveis = [
        'Python', 'SQL', 'Gestão de Projetos', 'Comunicação', 'Inglês Fluente',
        'Análise de Dados', 'React', 'Liderança', 'Trabalho em Equipa', 'Excel Avançado',
        'Marketing Digital', 'Contabilidade', 'Java', 'Atendimento ao Cliente'
    ]
    for index, vaga in vagas_df.iterrows():
        # Cada vaga terá entre 2 e 5 requisitos
        num_requisitos = random.randint(2, 5)
        # Usamos random.sample para garantir que os requisitos para a mesma vaga são únicos
        requisitos_para_vaga = random.sample(requisitos_possiveis, num_requisitos)
        
        for req in requisitos_para_vaga:
            requisito_record = {
                "ID_vaga": vaga['ID_vaga'],
                "Requisito": req
            }
            lista_requisitos.append(requisito_record)
    requisitos_df = pd.DataFrame(lista_requisitos)

    # --- 4. Gerar Candidaturas (Candidato_a) ---
    # Para ser mais realista, vamos pegar nos IDs dos funcionários de RH para serem os recrutadores
    id_depart_rh = departamentos_df[departamentos_df['Nome'] == 'Recursos Humanos']['ID_depart'].iloc[0]
    ids_recrutadores = funcionarios_df[funcionarios_df['ID_depart'] == id_depart_rh]['ID_fun'].tolist()
    # Fallback: se não houver ninguém em RH, usamos qualquer funcionário
    if not ids_recrutadores:
        ids_recrutadores = funcionarios_df['ID_fun'].tolist()
        
    estados_candidatura = ['Submetido', 'Em análise', 'Entrevista', 'Rejeitado', 'Rejeitado', 'Rejeitado', 'Contratado']

    # Cada candidato vai candidatar-se a um número aleatório de vagas (0 a 3)
    for id_candidato in ids_candidatos_disponiveis:
        num_candidaturas = random.randint(0, 3)
        if num_candidaturas > 0:
            # Escolhe 'num_candidaturas' vagas aleatórias e únicas para se candidatar
            vagas_aplicadas = vagas_df.sample(num_candidaturas)
            
            for index, vaga in vagas_aplicadas.iterrows():
                # A data da candidatura tem de ser posterior à data de abertura da vaga
                data_candidatura = faker.date_between(start_date=vaga['Data_abertura'], end_date='today')
                
                candidatura_record = {
                    "ID_cand": id_candidato,
                    "ID_Vaga": vaga['ID_vaga'],
                    "Data_cand": data_candidatura,
                    "Estado": random.choice(estados_candidatura),
                    "ID_recrutador": random.choice(ids_recrutadores)
                }
                lista_candidaturas.append(candidatura_record)
    candidato_a_df = pd.DataFrame(lista_candidaturas)
    
    return candidatos_df, vagas_df, requisitos_df, candidato_a_df

In [61]:
Candidatos, Vagas, Requisitos_vaga, Candidato_a = criar_modulo_recrutamento(Funcionarios, Departamentos)

In [62]:
Candidatos

,ID_cand,Nome,Email,Telemovel,CV,carta_motivacao
0,1,William Esteves,matilde59@example.com,(351) 917 177 972,None,None
1,2,Vicente Cruz-Brito,filipa38@example.org,214 303 738,None,None
2,3,Vítor Batista,cmartins@example.net,(351) 913 051 036,None,None
3,4,Bryan Moreira,cruzemilia@example.com,(351) 932348612,None,None
4,5,Gustavo Mota,camposconstanca@example.net,923483756,None,None
5,6,Igor Freitas,araujomargarida@example.com,937 983 096,None,None
6,7,Mariana da Loureiro,jgaspar@example.org,927 417 209,None,None
7,8,Margarida Andrade,sebastiao86@example.com,(351) 910 374 092,None,None
8,9,Maria Figueiredo,goncalvescarlota@example.net,(351) 966189449,None,None
9,10,Amélia Paiva,zmendes@example.org,(351) 923 490 366,None,None
10,11,Fábio Alves,henriquebrito@example.com,(351) 213893100,None,None
11,12,Gaspar Branco,machadoxavier@example.org,203785240,None,None
12,13,Nádia Campos,vicentemartim@example.net,(351) 937002478,None,None
13,14,Joana Ramos,ines64@example.com,(351) 967164207,None,None
14,15,Wilson Soares,xmatias@example.org,(351) 917 112 942,None,None
15,16,Lisandro Neto-Macedo,garaujo@example.org,(351) 933400477,None,None
16,17,Alícia-Raquel Antunes,vitor07@example.org,(351) 968 651 772,None,None
17,18,Hugo Neto,santiago31@example.org,(351) 930 583 285,None,None
18,19,Rúben Garcia,julianamarques@example.com,+351962351449,None,None
19,20,Sofia Araújo-Teixeira,nunestiago@example.com,+351924813858,None,None
20,21,Bruna-Anita Faria,xsoares@example.com,(351) 230 407 995,None,None
21,22,Xavier Azevedo,emanuel89@example.org,917800043,None,None
22,23,Filipa Alves,camposlorena@example.com,(351) 911 464 053,None,None
23,24,Eva de Rodrigues,jaimesantos@example.com,(351) 922768258,None,None
24,25,Vitória Lourenço,dinis51@example.org,(351) 918400678,None,None
25,26,Lucas Jesus,salvadorramos@example.net,(351) 925 229 975,None,None
26,27,Filipa Torres,luis46@example.com,967620939,None,None
27,28,Amélia Freitas,danielneves@example.com,(351) 233 426 633,None,None
28,29,Núria-Pilar Oliveira,fabio25@example.net,(351) 210 436 125,None,None
29,30,Salvador Alves,nevesiris@example.com,(351) 916 174 683,None,None
30,31,Edgar Barbosa,duartefreitas@example.org,(351) 961628525,None,None
31,32,Joaquim Macedo,rodrigo02@example.com,965 292 377,None,None
32,33,Vera Santos,guilhermegaspar@example.org,961437204,None,None
33,34,Bruna Leite,nogueirarenato@example.org,(351) 966 411 495,None,None
34,35,Camila Borges,sousafilipa@example.net,(351) 930468329,None,None
35,36,Sara Barbosa,tpaiva@example.net,+351932498728,None,None
36,37,Mário Miranda,dianafernandes@example.com,(351) 935407611,None,None
37,38,Matilde Correia,valentim39@example.net,(351) 968746264,None,None
38,39,Victória Branco,laraandrade@example.org,(351) 278 322 337,None,None
39,40,Benjamim Melo,andradenicole@example.net,(351) 212902015,None,None

In [63]:
Vagas

   ID_vaga Data_abertura    Estado  ID_depart
0        1    2025-01-02  Suspensa          2
1        2    2023-11-16   Fechada          6
2        3    2024-07-14   Fechada          4
3        4    2025-01-16   Fechada          3
4        5    2024-09-28    Aberta          1
5        6    2025-08-06   Fechada          7
6        7    2024-01-02   Fechada          1
7        8    2024-02-22  Suspensa          4
8        9    2024-12-02   Fechada          8
9       10    2024-10-06  Suspensa          3

In [64]:
Requisitos_vaga

    ID_vaga               Requisito
0         1          Excel Avançado
1         1                     SQL
2         2       Marketing Digital
3         2      Gestão de Projetos
4         3       Marketing Digital
5         3          Inglês Fluente
6         3      Trabalho em Equipa
7         4               Liderança
8         4  Atendimento ao Cliente
9         5               Liderança
10        5             Comunicação
11        6       Marketing Digital
12        6  Atendimento ao Cliente
13        6               Liderança
14        6             Comunicação
15        7               Liderança
16        7        Análise de Dados
17        7                  Python
18        7      Gestão de Projetos
19        7  Atendimento ao Cliente
20        8                     SQL
21        8      Gestão de Projetos
22        9       Marketing Digital
23        9        Análise de Dados
24        9             Comunicação
25        9          Excel Avançado
26       10  Atendimento ao Cliente
27       10           Contabilidade

In [65]:
Candidato_a

    ID_cand  ID_Vaga   Data_cand      Estado  ID_recrutador
0         1        8  2024-11-17  Entrevista              3
1         1        7  2024-01-02   Rejeitado             38
2         1        3  2024-10-23  Entrevista             38
3         2        5  2024-10-09   Rejeitado             41
4         4        6  2025-08-16   Rejeitado             12
5         5        5  2024-12-29  Entrevista             38
6         5        3  2025-06-04  Em análise              3
7         6        4  2025-09-30   Rejeitado             12
8         6        6  2025-09-29   Rejeitado             12
9        10        4  2025-04-23  Contratado              3
10       11        6  2025-10-24   Rejeitado             38
11       11        9  2025-04-05  Em análise             41
12       13        6  2025-09-11  Contratado             12
13       13        9  2025-07-23  Em análise             12
14       13        7  2024-06-15   Rejeitado              3
15       14        6  2025-08-17  Contratado              3
16       14       10  2025-11-04  Em análise             12
17       14        1  2025-04-23   Rejeitado             38
18       15        7  2024-03-24   Rejeitado             41
19       15        9  2025-10-23  Em análise             38
20       15        6  2025-09-15   Submetido             38
21       16        6  2025-08-10   Submetido             12
22       17        7  2025-04-26   Rejeitado             12
23       17        8  2024-09-04   Rejeitado              3
24       18        5  2025-10-02   Rejeitado             38
25       18        1  2025-01-16  Em análise             41
26       18        2  2024-10-28  Entrevista             38
27       19        4  2025-06-14   Submetido              3
28       19        1  2025-03-22   Rejeitado             12
29       19        9  2025-02-13   Rejeitado             38
30       22        5  2025-05-12   Rejeitado              3
31       22        2  2024-01-07  Em análise             38
32       22        1  2025-04-01  Entrevista             38
33       24        8  2024-03-02   Rejeitado              3
34       24       10  2025-11-03  Entrevista             12
35       25        4  2025-04-15   Rejeitado              3
36       25        9  2025-08-02   Rejeitado             38
37       26       10  2025-05-06   Submetido             41
38       26        6  2025-10-24  Entrevista             12
39       26        4  2025-02-07  Entrevista             12
40       27        9  2025-08-22   Rejeitado             12
41       27        6  2025-10-07   Rejeitado              3
42       28        6  2025-11-02  Entrevista             41
43       28       10  2025-06-25  Em análise             12
44       28        1  2025-02-18   Rejeitado              3
45       29        9  2025-04-30  Em análise              3
46       31        1  2025-04-04  Contratado              3
47       31        2  2024-08-08  Entrevista              3
48       31        3  2024-09-12  Em análise              3
49       32        4  2025-05-02   Rejeitado             12
50       33        2  2025-11-04  Em análise             38
51       34       10  2024-12-25  Em análise             41
52       35       10  2025-06-13  Em análise              3
53       36       10  2025-03-07   Rejeitado             38
54       39        7  2025-06-25   Submetido             12
55       39        3  2025-09-18   Submetido             41
56       39        6  2025-09-24  Entrevista             38
57       40        6  2025-11-02  Contratado             38
58       40        1  2025-02-23  Em análise             38
59       40        5  2024-12-24   Rejeitado             12

In [66]:
def criar_catalogo_formacoes():
    """
    Cria um catálogo fixo e manual de 5 formações com descrições realistas.
    """
    dados_formacoes = [
        {"ID_for": 1, "Nome_formacao": 'Liderança e Gestão de Equipas', "Descricao": 'Desenvolver competências de liderança, motivação e gestão de conflitos para chefes de equipa.', "Data_inicio": date(2023, 10, 5), "Data_fim": date(2023, 10, 10), "Estado": 'Concluida'},
        {"ID_for": 2, "Nome_formacao": 'Cibersegurança para Colaboradores', "Descricao": 'Sensibilizar para as melhores práticas de segurança digital, phishing e proteção de dados.', "Data_inicio": date(2024, 3, 15), "Data_fim": date(2024, 3, 16), "Estado": 'Concluida'},
        {"ID_for": 3, "Nome_formacao": 'Análise de Dados com Python', "Descricao": 'Introdução à análise de dados utilizando as bibliotecas Pandas e Matplotlib.', "Data_inicio": date(2024, 9, 2), "Data_fim": date(2024, 9, 13), "Estado": 'Em curso'},
        {"ID_for": 4, "Nome_formacao": 'Técnicas de Negociação e Vendas', "Descricao": 'Aperfeiçoar técnicas de comunicação, persuasão e fecho de negócios para a equipa comercial.', "Data_inicio": date(2025, 2, 10), "Data_fim": date(2025, 2, 14), "Estado": 'Planeada'},
        {"ID_for": 5, "Nome_formacao": 'Inteligência Emocional no Trabalho', "Descricao": 'Gerir emoções, melhorar o autoconhecimento e a empatia nas relações interpessoais no trabalho.', "Data_inicio": date(2025, 5, 19), "Data_fim": date(2025, 5, 20), "Estado": 'Planeada'}
    ]
    
    return pd.DataFrame(dados_formacoes)

In [67]:
Formacoes = criar_catalogo_formacoes()
Formacoes

,ID_for,Nome_formacao,Descricao,Data_inicio,Data_fim,Estado
0,1,Liderança e Gestão de Equipas,"Desenvolver competências de liderança, motivaç...",2023-10-05,2023-10-10,Concluida
1,2,Cibersegurança para Colaboradores,Sensibilizar para as melhores práticas de segu...,2024-03-15,2024-03-16,Concluida
2,3,Análise de Dados com Python,Introdução à análise de dados utilizando as bi...,2024-09-02,2024-09-13,Em curso
3,4,Técnicas de Negociação e Vendas,"Aperfeiçoar técnicas de comunicação, persuasão...",2025-02-10,2025-02-14,Planeada
4,5,Inteligência Emocional no Trabalho,"Gerir emoções, melhorar o autoconhecimento e a...",2025-05-19,2025-05-20,Planeada

In [68]:
def criar_teve_formacao(funcionarios_df, formacoes_df):
    """
    Gera as inscrições dos funcionários nas formações de forma aleatória e simples,
    sem verificar o estado ou as datas das formações.
    """
    lista_teve_formacao = []

    # Se não houver formações no catálogo, não podemos fazer nada.
    if formacoes_df.empty:
        return pd.DataFrame()

    # Itera sobre cada funcionário
    for index, funcionario in funcionarios_df.iterrows():
        # 60% de chance de o funcionário ter tido alguma formação
        if random.random() < 0.6:
            
            # Número de formações que este funcionário teve (1 ou 2)
            num_formacoes_feitas = random.randint(1, 2)
            
            # Escolhe aleatoriamente formações do catálogo COMPLETO
            formacoes_a_inscrever = formacoes_df.sample(num_formacoes_feitas)
            
            for i, formacao in formacoes_a_inscrever.iterrows():
                teve_formacao_record = {
                    "ID_Fun": funcionario['ID_fun'],
                    "ID_for": formacao['ID_for'],
                    "Certificado": None, # BLOB
                    "Data_inicio": formacao['Data_inicio'], # Copia as datas diretamente
                    "Data_fim": formacao['Data_fim']
                }
                lista_teve_formacao.append(teve_formacao_record)

    return pd.DataFrame(lista_teve_formacao)

In [69]:
Teve_Formacao = criar_teve_formacao(Funcionarios, Formacoes)
Teve_Formacao

    ID_Fun  ID_for Certificado Data_inicio    Data_fim
0        7       3        None  2024-09-02  2024-09-13
1        7       2        None  2024-03-15  2024-03-16
2        8       3        None  2024-09-02  2024-09-13
3        8       5        None  2025-05-19  2025-05-20
4       11       1        None  2023-10-05  2023-10-10
5       11       5        None  2025-05-19  2025-05-20
6       12       2        None  2024-03-15  2024-03-16
7       13       1        None  2023-10-05  2023-10-10
8       14       1        None  2023-10-05  2023-10-10
9       15       3        None  2024-09-02  2024-09-13
10      16       5        None  2025-05-19  2025-05-20
11      18       2        None  2024-03-15  2024-03-16
12      18       4        None  2025-02-10  2025-02-14
13      19       2        None  2024-03-15  2024-03-16
14      20       2        None  2024-03-15  2024-03-16
15      22       3        None  2024-09-02  2024-09-13
16      23       1        None  2023-10-05  2023-10-10
17      23       4        None  2025-02-10  2025-02-14
18      24       1        None  2023-10-05  2023-10-10
19      25       4        None  2025-02-10  2025-02-14
20      25       1        None  2023-10-05  2023-10-10
21      26       5        None  2025-05-19  2025-05-20
22      27       3        None  2024-09-02  2024-09-13
23      28       2        None  2024-03-15  2024-03-16
24      28       4        None  2025-02-10  2025-02-14
25      30       4        None  2025-02-10  2025-02-14
26      32       5        None  2025-05-19  2025-05-20
27      32       3        None  2024-09-02  2024-09-13
28      34       5        None  2025-05-19  2025-05-20
29      35       2        None  2024-03-15  2024-03-16
30      36       2        None  2024-03-15  2024-03-16
31      37       4        None  2025-02-10  2025-02-14
32      37       3        None  2024-09-02  2024-09-13
33      39       1        None  2023-10-05  2023-10-10
34      40       1        None  2023-10-05  2023-10-10
35      40       2        None  2024-03-15  2024-03-16
36      41       2        None  2024-03-15  2024-03-16
37      42       1        None  2023-10-05  2023-10-10
38      42       2        None  2024-03-15  2024-03-16
39      43       2        None  2024-03-15  2024-03-16
40      43       3        None  2024-09-02  2024-09-13
41      44       5        None  2025-05-19  2025-05-20
42      45       5        None  2025-05-19  2025-05-20
43      46       2        None  2024-03-15  2024-03-16
44      47       5        None  2025-05-19  2025-05-20

In [70]:
FRASES_CRITERIOS = [
    "Avaliação da pontualidade e assiduidade no último semestre.",
    "Desempenho nos projetos de equipa e capacidade de colaboração.",
    "Capacidade de resolução de problemas e tomada de decisão.",
    "Qualidade da comunicação com o cliente e stakeholders internos.",
    "Iniciativa e proatividade na sugestão de novas melhorias.",
    "Qualidade técnica do trabalho entregue e atenção ao detalhe.",
    "Gestão de tempo, cumprimento de prazos e organização."
]

FRASES_AUTOAVALIACAO = [
    "Sinto que atingi todos os meus objetivos principais este semestre.",
    "Completei a formação X e sinto-me mais confiante nas minhas tarefas.",
    "Gostaria de ter mais formação na área de análise de dados para contribuir melhor.",
    "Consegui melhorar a minha organização e gestão de tempo, como foi discutido.",
    "Tive alguma dificuldade em gerir o projeto Y, mas aprendi muito com o processo.",
    "Preciso de focar-me em ser mais conciso nas reuniões de equipa."
]


def criar_avaliacoes(funcionarios_df, num_avaliacoes=40):
    """
    Gera um número fixo de avaliações (ex: 40) com frases realistas,
    IDs de avaliadores inteiros e uma avaliação numérica.

    Notas:
    - Avaliacao_Numerica é um inteiro de 1 a 5 (escala Likert). Pode ser ajustado conforme necessário.
    """
    lista_avaliacoes = []
    
    # Obter uma lista de todos os IDs de funcionários
    ids_funcionarios_disponiveis = funcionarios_df['ID_fun'].tolist()

    # Se não houver funcionários, não podemos fazer nada
    if not ids_funcionarios_disponiveis or len(ids_funcionarios_disponiveis) < 2:
        print("Aviso: É preciso ter pelo menos 2 funcionários para gerar avaliações.")
        return pd.DataFrame()

    for _ in range(num_avaliacoes):
        
        # 1. Escolhe um funcionário para ser AVALIADO
        id_fun_avaliado = random.choice(ids_funcionarios_disponiveis)
        
        # 2. Escolhe um AVALIADOR
        id_avaliador = random.choice(ids_funcionarios_disponiveis)
        
        # 3. Garante que não é a mesma pessoa (autoavaliação é noutro campo)
        while id_avaliador == id_fun_avaliado:
            id_avaliador = random.choice(ids_funcionarios_disponiveis)
            
        # 4. Gera uma data única para a chave primária
        data_avaliacao = faker.date_between(start_date='-3y', end_date='today')

        # 5. 70% de chance de ter uma autoavaliação
        autoavaliacao = random.choice(FRASES_AUTOAVALIACAO) if random.random() < 0.7 else None

        # 6. Avaliação numérica (1 a 5)
        avaliacao_numerica = random.randint(1, 5)
        
        avaliacao_record = {
            "ID_Fun": id_fun_avaliado,
            "ID_avaliador": id_avaliador, # Isto será sempre um INT
            "Data": data_avaliacao,
            "Avaliacao": None, # BLOB
            "Criterios": random.choice(FRASES_CRITERIOS), # Frase realista
            "Autoavaliacao": autoavaliacao, # Frase realista ou None
            "Avaliacao_Numerica": avaliacao_numerica
        }
        
        lista_avaliacoes.append(avaliacao_record)

    # Criar o DataFrame
    avaliacoes_df = pd.DataFrame(lista_avaliacoes)

    # Salvaguarda: Remove duplicados na chave primária (caso tenhamos gerado o mesmo trio por acaso)
    avaliacoes_df = avaliacoes_df.drop_duplicates(subset=['ID_Fun', 'ID_avaliador', 'Data'], keep='first')
    return avaliacoes_df

In [71]:
Avaliacoes = criar_avaliacoes(Funcionarios)
Avaliacoes

,ID_Fun,ID_avaliador,Data,Avaliacao,Criterios,Autoavaliacao,Avaliacao_Numerica
0,18,39,2025-05-04,None,Desempenho nos projetos de equipa e capacidade...,"Tive alguma dificuldade em gerir o projeto Y, ...",5
1,7,10,2025-08-01,None,Capacidade de resolução de problemas e tomada ...,Preciso de focar-me em ser mais conciso nas re...,3
2,20,3,2025-07-26,None,Qualidade da comunicação com o cliente e stake...,"Tive alguma dificuldade em gerir o projeto Y, ...",5
3,48,46,2025-03-24,None,Qualidade técnica do trabalho entregue e atenç...,None,3
4,41,28,2023-07-04,None,"Gestão de tempo, cumprimento de prazos e organ...",Sinto que atingi todos os meus objetivos princ...,5
5,49,44,2024-04-29,None,Desempenho nos projetos de equipa e capacidade...,Gostaria de ter mais formação na área de análi...,4
6,48,6,2023-01-06,None,Iniciativa e proatividade na sugestão de novas...,None,2
7,40,28,2023-11-26,None,Desempenho nos projetos de equipa e capacidade...,Gostaria de ter mais formação na área de análi...,5
8,46,29,2025-03-26,None,Qualidade técnica do trabalho entregue e atenç...,None,1
9,49,50,2023-09-30,None,Qualidade técnica do trabalho entregue e atenç...,Preciso de focar-me em ser mais conciso nas re...,4
10,8,7,2023-06-17,None,Capacidade de resolução de problemas e tomada ...,None,1
11,42,33,2025-03-01,None,Capacidade de resolução de problemas e tomada ...,Gostaria de ter mais formação na área de análi...,5
12,23,47,2023-07-22,None,Avaliação da pontualidade e assiduidade no últ...,Completei a formação X e sinto-me mais confian...,4
13,4,48,2024-07-15,None,Desempenho nos projetos de equipa e capacidade...,Preciso de focar-me em ser mais conciso nas re...,5
14,49,15,2024-04-20,None,Desempenho nos projetos de equipa e capacidade...,None,3
15,5,43,2025-06-13,None,"Gestão de tempo, cumprimento de prazos e organ...",Consegui melhorar a minha organização e gestão...,3
16,8,38,2025-03-11,None,"Gestão de tempo, cumprimento de prazos e organ...",None,3
17,47,19,2023-02-16,None,Avaliação da pontualidade e assiduidade no últ...,None,1
18,19,18,2023-01-05,None,Qualidade da comunicação com o cliente e stake...,None,4
19,40,9,2023-03-02,None,Desempenho nos projetos de equipa e capacidade...,Preciso de focar-me em ser mais conciso nas re...,5
20,50,17,2022-12-11,None,Qualidade técnica do trabalho entregue e atenç...,None,4
21,35,33,2024-08-30,None,Capacidade de resolução de problemas e tomada ...,"Tive alguma dificuldade em gerir o projeto Y, ...",4
22,9,17,2024-08-18,None,Qualidade técnica do trabalho entregue e atenç...,Completei a formação X e sinto-me mais confian...,3
23,35,18,2023-09-17,None,Desempenho nos projetos de equipa e capacidade...,None,3
24,24,10,2024-09-08,None,Iniciativa e proatividade na sugestão de novas...,Consegui melhorar a minha organização e gestão...,2
25,43,46,2024-03-24,None,Qualidade da comunicação com o cliente e stake...,None,1
26,17,40,2025-03-18,None,Avaliação da pontualidade e assiduidade no últ...,None,4
27,25,41,2025-07-29,None,Iniciativa e proatividade na sugestão de novas...,None,1
28,47,3,2024-08-21,None,Qualidade técnica do trabalho entregue e atenç...,Preciso de focar-me em ser mais conciso nas re...,2
29,33,46,2024-11-02,None,Iniciativa e proatividade na sugestão de novas...,Sinto que atingi todos os meus objetivos princ...,3
30,40,27,2023-02-08,None,Avaliação da pontualidade e assiduidade no últ...,Preciso de focar-me em ser mais conciso nas re...,3
31,33,50,2024-12-08,None,Iniciativa e proatividade na sugestão de novas...,None,3
32,8,48,2023-08-19,None,Avaliação da pontualidade e assiduidade no últ...,Completei a formação X e sinto-me mais confian...,4
33,28,48,2023-01-14,None,Qualidade técnica do trabalho entregue e atenç...,Sinto que atingi todos os meus objetivos princ...,3
34,40,25,2025-07-21,None,Iniciativa e proatividade na sugestão de novas...,Completei a formação X e sinto-me mais confian...,5
35,10,48,2024-12-01,None,Capacidade de resolução de problemas e tomada ...,Sinto que atingi todos os meus objetivos princ...,5
36,33,14,2024-08-14,None,"Gestão de tempo, cumprimento de prazos e organ...",Preciso de focar-me em ser mais conciso nas re...,5
37,36,24,2024-09-27,None,Capacidade de resolução de problemas e tomada ...,Consegui melhorar a minha organização e gestão...,2
38,45,11,2023-08-08,None,Capacidade de resolução de problemas e tomada ...,None,5
39,35,20,2023-11-25,None,Qualidade técnica do trabalho entregue e atenç...,None,4

In [72]:
def criar_utilizadores_permissoes(funcionarios_df):
    """
    Gera dados para as tabelas Utilizadores e Permissoes.
    Cria um utilizador para cada funcionário e atribui permissões aleatórias.
    """
    lista_utilizadores = []
    lista_permissoes = []
    
    # A sua lista de permissões válidas
    permissoes_possiveis = ['Funcionario', 'Manager', 'RH', 'Admin', 'Financeiro']

    # Itera sobre CADA funcionário para criar uma conta de utilizador
    for index, funcionario in funcionarios_df.iterrows():
        id_fun = funcionario['ID_fun']
        
        # --- 1. Criar o registo na tabela Utilizadores ---
        utilizador_record = {
            "ID_Fun": id_fun,
            # Gera uma password aleatória. 'special_chars=False' para caber no VARCHAR(30)
            "Password": faker.password(length=12, special_chars=False) 
        }
        lista_utilizadores.append(utilizador_record)
        
        # --- 2. Criar os registos na tabela Permissoes ---
        
        # Cada utilizador terá entre 1 e 3 permissões
        num_permissoes = random.randint(1, 3)
        
        # Escolhe 'num_permissoes' permissões únicas da lista
        permissoes_para_este_user = random.sample(permissoes_possiveis, num_permissoes)
        
        # Cria um registo para cada permissão atribuída
        for perm in permissoes_para_este_user:
            permissao_record = {
                "ID_Fun": id_fun,
                "Permissao": perm
            }
            lista_permissoes.append(permissao_record)

    utilizadores_df = pd.DataFrame(lista_utilizadores)
    permissoes_df = pd.DataFrame(lista_permissoes)
    
    return utilizadores_df, permissoes_df

In [73]:
Utilizadores, Permissoes = criar_utilizadores_permissoes(Funcionarios)

In [74]:
Utilizadores

    ID_Fun      Password
0        1  ke8TGUDs0VH4
1        2  4JpNisueUPSW
2        3  8ciGpGGdvRyX
3        4  7cSciMDEFM3F
4        5  MX7LVQdJSbXS
5        6  77xveB1WDsR3
6        7  Nm5u49OfcASQ
7        8  T4n1UJQKOtlE
8        9  dKdnfrMF1cDJ
9       10  5zJYZKxbKfXw
10      11  xFTUeVK4mF1P
11      12  P1fji0Ry5W4L
12      13  GZAjgHVhLj7c
13      14  40jUOqVtGhsm
14      15  LyJlyzbx7VCm
15      16  86ZYEOtWsvdp
16      17  q5PxrEevUfT0
17      18  0jKI5JNrXFFM
18      19  IZg0ZqTe3m3k
19      20  2D9vlJRDLMtl
20      21  6u2Lwu4gSjeM
21      22  5LIXp5q1uPAb
22      23  HeDzHvMq5def
23      24  HELwF6sL35kv
24      25  DXxGeJfpnfV4
25      26  Z9U2BQvdn3m3
26      27  4bY7PYbZCvDx
27      28  I30DUlJB1e53
28      29  X3oalbAqUTLb
29      30  aLlHIZuv06V1
30      31  92bKIye3Me6Z
31      32  XS4O6lfN9n5O
32      33  8YeQHzqVub27
33      34  Uk7lAkk64Cpy
34      35  FzeKOrVa6Iv7
35      36  8X41swYa36hb
36      37  nYi9zyke6ipo
37      38  6ZMUpLTQmyY6
38      39  rTGAyXJU5WAA
39      40  ns3YhF2lUJJp
40      41  b3xvC6tzt93H
41      42  A6Lqlc2gCzFk
42      43  2MkFSxXLyW0u
43      44  j9LBFldW4R7a
44      45  53EvbwddZlxm
45      46  ys8T2QzPzn8J
46      47  3DMBKzq77LRm
47      48  f6X0PNKruNjs
48      49  BXl6adwf6fVI
49      50  Ug5Rb6UkW3CB

In [75]:
Permissoes

     ID_Fun   Permissao
0         1          RH
1         1     Manager
2         2       Admin
3         3  Financeiro
4         3       Admin
..      ...         ...
99       48     Manager
100      49     Manager
101      50          RH
102      50       Admin
103      50     Manager

[104 rows x 2 columns]

In [76]:
import pandas as pd
from datetime import date, datetime
import math

print("A iniciar a geração do ficheiro 'dados_insercao.sql' (um INSERT por tabela)...")

# --- Função Auxiliar (sem alterações) ---
def formatar_valor_sql(valor):
    if pd.isna(valor) or valor is None:
        return "NULL"
    if isinstance(valor, str):
        return f"'{valor.replace("'", "''")}'"
    if isinstance(valor, (int, float)):
        return str(valor)
    if isinstance(valor, (date, datetime)):
        return f"'{valor.isoformat()}'"
    return f"'{str(valor)}'"

# --- Dicionário com todos os DataFrames (sem alterações) ---
todos_dataframes = {
    "Remuneracoes": Remuneracoes,
    "Salario": Salarios,
    "Beneficios": Beneficios,
    "Ferias": Ferias,
    "Dependentes": Dependentes,
    "Faltas": Faltas,
    "Historico_empresas": Historico_empresas,
    "Candidatos": Candidatos,
    "Vagas": Vagas,
    "Candidato_a": Candidato_a,
    "Requisitos_vaga": Requisitos_vaga,
    "Formacoes": Formacoes,
    "Teve_Formacao": Teve_Formacao,
    "Avaliacoes": Avaliacoes,
    "Utilizadores": Utilizadores,
    "Permissoes": Permissoes
}

# --- NOVO: Função para gerar UM ÚNICO INSERT por tabela ---
def escrever_insert_unico_sql(f, df, nome_tabela, colunas_sql=None):
    """
    Escreve um DataFrame num ficheiro SQL usando UMA ÚNICA instrução INSERT.
    """
    if df.empty:
        f.write(f"\n-- Tabela {nome_tabela} está vazia. A saltar.\n")
        return

    f.write(f"\n-- Dados para {nome_tabela}\n")
    
    if colunas_sql:
        cols_sql = colunas_sql
    else:
        cols_sql = ", ".join(df.columns)
    
    # Escreve o início da instrução
    f.write(f"INSERT INTO {nome_tabela} ({cols_sql}) VALUES\n")
    
    linhas_de_valores = []
    # Itera por TODAS as linhas do DataFrame
    for row in df.itertuples(index=False, name=None):
        valores_formatados = f"({', '.join([formatar_valor_sql(val) for val in row])})"
        linhas_de_valores.append(valores_formatados)
    
    # Junta todas as linhas de valores com uma vírgula
    f.write(",\n".join(linhas_de_valores))
    f.write(";\n") # Termina a instrução INSERT

# --- Processo de Escrita do Ficheiro (Atualizado) ---
try:
    with open('dados_insercao.sql', 'w', encoding='utf-8') as f:
        f.write("-- Script de Inserção de Dados Gerado Automaticamente\n")
        f.write("BEGIN TRANSACTION;\n")

        # 1. Departamentos (Inserir com gerente NULL)
        df_deptos_temp = Departamentos[['ID_depart', 'Nome']].copy()
        df_deptos_temp['ID_gerente'] = None
        escrever_insert_unico_sql(f, df_deptos_temp, "Departamentos", colunas_sql="ID_depart, Nome, ID_gerente")
        
        # 2. Funcionarios
        escrever_insert_unico_sql(f, Funcionarios, "Funcionarios")

        # 3. UPDATE Departamentos (Agora com os gerentes)
        f.write("\n-- 3. Atualização dos Gerentes nos Departamentos\n")
        for row in Departamentos.itertuples(index=False):
            if pd.notna(row.ID_gerente):
                f.write(f"UPDATE Departamentos SET ID_gerente = {int(row.ID_gerente)} WHERE ID_depart = {row.ID_depart};\n")

        # 4. Inserção de todas as outras tabelas
        f.write("\n-- 4. Inserção das restantes tabelas\n")
        for nome_tabela, df in todos_dataframes.items():
            
            # Lógica especial para Candidato_a para renomear colunas
            if nome_tabela == 'Candidato_a':
                escrever_insert_unico_sql(f, df, nome_tabela, colunas_sql="ID_cand, ID_Vaga, Data_cand, Estado, ID_recrutador")
            else:
                escrever_insert_unico_sql(f, df, nome_tabela)

        f.write("\nCOMMIT;\n")

    print("\n--- SUCESSO! ---")
    print("O ficheiro 'dados_insercao.sql' foi gerado com sucesso.")
    print("Cada tabela tem agora UM ÚNICO comando INSERT com todos os seus dados.")

except Exception as e:
    print(f"\n--- ERRO ---")
    print(f"Ocorreu um erro ao gerar o ficheiro: {e}")
    print("Verifique os nomes dos seus DataFrames.")

A iniciar a geração do ficheiro 'dados_insercao.sql' (um INSERT por tabela)...

--- SUCESSO! ---
O ficheiro 'dados_insercao.sql' foi gerado com sucesso.
Cada tabela tem agora UM ÚNICO comando INSERT com todos os seus dados.