In [38]:
import random
import numpy as np
from faker import Faker
import pandas as pd
from datetime import date, timedelta

# Inicializar o Faker para dados em Português
faker = Faker('pt_PT')

In [39]:
Departamentos = ["Recursos Humanos", "Tecnologia da Informação", "Financeiro", "Marketing", "Vendas", "Qualidade", "Atendimento ao Cliente", "Jurídico"]
Cargos = ["Gerente de Projetos", "Analista de Dados", "Desenvolvedor de Software Sénior", "Desenvolvedor de Software Júnior", "Engenheiro de DevOps","Designer UI/UX","Analista de Sistemas","Técnico de Suporte de TI","Analista de Recursos Humanos", "Especialista em Recrutamento", "Gerente de Marketing", "Especialista em Marketing Digital", "Analista de Mídia Social","Redator (Copywriter)","Gerente de Vendas","Executivo de Contas","Representante de Vendas Interno","Analista Financeiro","Contador","Gerente Financeiro","Analista de Qualidade","Inspetor de Qualidade","Agente de Atendimento ao Cliente","Supervisor de Atendimento ao Cliente",  "Especialista em Sucesso do Cliente",  "Advogado Corporativo","Assistente Jurídico","Assistente Administrativo","Recepcionista","Diretor de Operações (COO)"]

In [40]:
def criar_departamentos():
    lista_departamentos = []
    for i in range(1, len(Departamentos) + 1):
        lista_departamentos.append({
            "ID_depart": i,
            "Nome": Departamentos[i-1],
            "ID_gerente": None # Começa como Nulo
        })
    return pd.DataFrame(lista_departamentos)

In [41]:
def criar_funcionarios(n=100):
    lista_funcionarios = []
    for i in range(1, n + 1):
        lista_funcionarios.append({
            "ID_fun": i,
            "NIF": str(283684274 + i),
            "Primeiro_nome": faker.first_name(),
            "Ultimo_nome": faker.last_name(),
            "Nome_rua": faker.street_name(),
            "Nome_localidade": faker.city(),
            "Codigo_postal": faker.postcode(),
            "Num_telemovel": faker.phone_number(),
            "Email": faker.unique.email(),
            "Data_nascimento": faker.date_of_birth(minimum_age=18, maximum_age=65),
            "Cargo": random.choice([cargo for cargo in Cargos if cargo != "Gerente"]),
            "ID_depart": np.random.randint(1, len(Departamentos) + 1)
        })
    return pd.DataFrame(lista_funcionarios)

In [42]:
Departamentos = criar_departamentos()
Funcionarios = criar_funcionarios(1000)
Departamentos["ID_gerente"] = random.sample(list(Funcionarios["ID_fun"]), len(Departamentos))

In [43]:
Departamentos

   ID_depart                      Nome  ID_gerente
0          1          Recursos Humanos         132
1          2  Tecnologia da Informação         737
2          3                Financeiro         175
3          4                 Marketing         423
4          5                    Vendas         613
5          6                 Qualidade          92
6          7    Atendimento ao Cliente         393
7          8                  Jurídico         144

In [44]:
Funcionarios

,ID_fun,NIF,Primeiro_nome,Ultimo_nome,Nome_rua,Nome_localidade,Codigo_postal,Num_telemovel,Email,Data_nascimento,Cargo,ID_depart
0,1,283684275,Pilar,Magalhães,Travessa Sousa,Vendas Novas,6601-484,931694698,antunesangelo@example.com,1963-10-22,Assistente Administrativo,1
1,2,283684276,Pedro,Tavares,Largo de Manuel d'Arriaga,Marco de Canaveses,5495-914,(351) 253485212,abreuismael@example.com,1992-02-20,Agente de Atendimento ao Cliente,6
2,3,283684277,Alexandra,Nunes,Av de Figueiredo,Seixal,9170-405,(351) 962209415,jose95@example.org,1981-03-09,Assistente Jurídico,3
3,4,283684278,Fernando,Lourenço,Largo das Cebolas,Lagos,1017-746,924902738,margarida76@example.net,1967-10-24,Recepcionista,1
4,5,283684279,Joana,Sousa,R. Brian Alves,Santo Tirso,7508-199,+351237809497,moraismauro@example.org,1992-04-25,Gerente de Marketing,3
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,283685270,Gil,Antunes,Largo Carneiro,Penafiel,9828-347,(351) 233 680 483,lourencoxavier@example.org,1987-07-10,Analista de Qualidade,4
996,997,283685271,Amélia,Mota,Rua Bianca Nogueira,Santo Tirso,0675-762,(351) 966 741 078,benjamim18@example.org,1992-04-17,Técnico de Suporte de TI,5
997,998,283685272,Daniela,Cruz,Avenida Sandro Pinheiro,Marinha Grande,4088-544,927096785,catarina55@example.net,1966-10-31,Contador,5
998,999,283685273,Alexandra,Pereira,Av Madalena Tavares,Praia da Vitória,0156-123,263695029,mmaia@example.com,1973-09-24,Analista de Recursos Humanos,1
999,1000,283685274,Henrique,Miranda,Travessa Rúben Valente,Queluz,7895-726,960133187,magalhaeshenrique@example.net,1996-01-06,Contador,5

In [45]:
def criar_remuneracoes_salarios_beneficios(funcionarios_df):
    """
    Gera um HISTÓRICO de dados para Remuneracoes, Salario e Beneficios.
    Garante que nenhuma Data_fim ultrapassa 2025-12-31.
    """
    MAX_DATE = date(2025, 12, 31)
    lista_remuneracoes = []
    lista_salarios = []
    lista_beneficios = []

    tipos_de_beneficios = ['Subsídio Alimentação', 'Seguro Saúde', 'Carro Empresa', 'Subsídio Transporte', 'Telemóvel Empresa']

    for index, funcionario in funcionarios_df.iterrows():
        id_fun = funcionario['ID_fun']
        
        num_registos_historicos = random.randint(1, 4)
        
        salario_atual = round(np.random.normal(loc=1300, scale=400), 2)
        if salario_atual < 950: salario_atual = 950
            
        # Garantir que o primeiro contrato começa, no máximo, no final de 2024
        max_start_date = date(2024, 12, 31)
        data_inicio_atual = faker.date_between(start_date='-5y', end_date=max_start_date)

        for i in range(num_registos_historicos):
            
            # Se a data de início já passou de 2025, não criamos mais registos
            if data_inicio_atual > MAX_DATE:
                break
                
            data_inicio_registo = data_inicio_atual
            proxima_data_inicio = None
            
            if i < num_registos_historicos - 1:
                # Se NÃO for o último registo (histórico)
                proxima_data_inicio = data_inicio_registo + timedelta(days=random.randint(350, 400))
                data_fim_registo = proxima_data_inicio - timedelta(days=1)
                
                # --- APLICA A REGRA DE DATA MÁXIMA ---
                if data_fim_registo > MAX_DATE:
                    data_fim_registo = MAX_DATE
                    proxima_data_inicio = MAX_DATE + timedelta(days=1) # Força o próximo a parar
            
            else:
                # Se FOR o último registo (o atual)
                if random.random() < 0.5:
                    # Tem uma data de fim. Calcular e limitar a 2 anos (para não ir muito longe)
                    data_fim_calculada = data_inicio_registo + timedelta(days=random.randint(90, 730))
                    
                    # --- APLICA A REGRA DE DATA MÁXIMA ---
                    if data_fim_calculada > MAX_DATE:
                        data_fim_registo = MAX_DATE
                    else:
                        data_fim_registo = data_fim_calculada
                else:
                    data_fim_registo = None # 50% de chance de ser Nulo
            
            # --- 1. Adicionar registo de Remuneração ---
            remuneracao_record = {
                "ID_fun": id_fun,
                "Data_inicio": data_inicio_registo,
                "Data_fim": data_fim_registo
            }
            lista_remuneracoes.append(remuneracao_record)
            
            # --- 2. Adicionar registo de Salário (versão simplificada) ---
            salario_record = {
                "ID_fun": id_fun,
                "Data_inicio": data_inicio_registo,
                "salario_bruto": round(salario_atual, 2)
            }
            lista_salarios.append(salario_record)
            
            # --- 3. Adicionar Benefícios (versão simplificada) ---
            if random.random() < 0.8:
                num_beneficios = random.randint(1, 3)
                beneficios_para_este_fun = random.sample(tipos_de_beneficios, num_beneficios)
                
                for tipo_beneficio in beneficios_para_este_fun:
                    beneficio_record = {
                        "ID_fun": id_fun,
                        "Data_inicio": data_inicio_registo,
                        "tipo": tipo_beneficio,
                        "valor": round(random.uniform(30, 450), 2)
                    }
                    lista_beneficios.append(beneficio_record)
            
            # --- 4. Preparar a próxima iteração ---
            salario_atual *= random.uniform(1.02, 1.10) # Aumento
            if proxima_data_inicio:
                data_inicio_atual = proxima_data_inicio

    remuneracoes_df = pd.DataFrame(lista_remuneracoes)
    salarios_df = pd.DataFrame(lista_salarios)
    beneficios_df = pd.DataFrame(lista_beneficios)
    
    return remuneracoes_df, salarios_df, beneficios_df

In [46]:
Remuneracoes, Salarios, Beneficios = criar_remuneracoes_salarios_beneficios(Funcionarios)

In [47]:
Remuneracoes

      ID_fun Data_inicio    Data_fim
0          1  2021-04-02  2022-05-01
1          1  2022-05-02  2023-06-10
2          2  2024-05-21  2025-06-05
3          2  2025-06-06  2025-12-31
4          3  2023-07-22  2024-12-17
...      ...         ...         ...
2260     999  2024-03-26        None
2261    1000  2022-04-15  2023-04-12
2262    1000  2023-04-13  2024-04-19
2263    1000  2024-04-20  2025-05-03
2264    1000  2025-05-04  2025-12-31

[2265 rows x 3 columns]

In [48]:
Salarios

      ID_fun Data_inicio  salario_bruto
0          1  2021-04-02         950.00
1          1  2022-05-02        1035.04
2          2  2024-05-21        1387.54
3          2  2025-06-06        1523.41
4          3  2023-07-22        1393.05
...      ...         ...            ...
2260     999  2024-03-26        1317.42
2261    1000  2022-04-15        1086.68
2262    1000  2023-04-13        1131.37
2263    1000  2024-04-20        1209.59
2264    1000  2025-05-04        1283.83

[2265 rows x 3 columns]

In [49]:
Beneficios

      ID_fun Data_inicio                  tipo   valor
0          1  2021-04-02   Subsídio Transporte  244.95
1          1  2022-05-02     Telemóvel Empresa  448.41
2          1  2022-05-02  Subsídio Alimentação   60.60
3          1  2022-05-02   Subsídio Transporte  149.18
4          2  2024-05-21   Subsídio Transporte  324.37
...      ...         ...                   ...     ...
3677    1000  2022-04-15          Seguro Saúde  137.70
3678    1000  2022-04-15  Subsídio Alimentação  354.68
3679    1000  2023-04-13   Subsídio Transporte  160.11
3680    1000  2024-04-20   Subsídio Transporte   51.63
3681    1000  2025-05-04          Seguro Saúde   34.74

[3682 rows x 4 columns]

In [50]:
def criar_ferias(funcionarios_df):
    """
    NÃO TEM O NUM_DIAS_PERMITIDOS
    Gera um histórico de férias para os funcionários.
    Cada funcionário pode ter entre 0 a 4 registos de férias.
    """
    lista_ferias = []
    estados_possiveis = ['Aprovado', 'Aprovado', 'Aprovado', 'Aprovado', 'Rejeitado', 'Por aprovar']
    
    for index, funcionario in funcionarios_df.iterrows():
        id_fun = funcionario['ID_fun']
        
        num_periodos_ferias = random.randint(0, 4)
        
        for _ in range(num_periodos_ferias):
            data_inicio = faker.date_between(start_date='-3y', end_date='today')
            num_dias = random.randint(2, 15)
            data_fim = data_inicio + timedelta(days=num_dias)
            
            ferias_record = {
                "ID_fun": id_fun,
                "data_inicio": data_inicio,
                "data_fim": data_fim,
                "num_dias": num_dias,
                "estado_aprov": random.choice(estados_possiveis)
            }
            lista_ferias.append(ferias_record)
            
    return pd.DataFrame(lista_ferias)

In [51]:
Ferias = criar_ferias(Funcionarios)
Ferias

      ID_fun data_inicio    data_fim  num_dias estado_aprov
0          1  2024-10-27  2024-11-05         9     Aprovado
1          1  2024-06-02  2024-06-15        13     Aprovado
2          2  2024-01-09  2024-01-24        15     Aprovado
3          2  2023-03-05  2023-03-12         7    Rejeitado
4          3  2024-09-15  2024-09-23         8     Aprovado
...      ...         ...         ...       ...          ...
1924     997  2024-05-23  2024-05-28         5  Por aprovar
1925     999  2023-06-24  2023-06-29         5     Aprovado
1926     999  2024-04-01  2024-04-03         2    Rejeitado
1927     999  2025-01-04  2025-01-15        11     Aprovado
1928    1000  2025-04-11  2025-04-16         5     Aprovado

[1929 rows x 5 columns]

In [52]:
def criar_dependentes(funcionarios_df):
    """
    Gera uma lista de dependentes e depois limpa os dados para garantir que
    nenhum funcionário tem mais do que um dependente com o parentesco 'Pai/Mãe'.

    Regras adicionadas:
    - 'Pai/Mãe' tem sempre data de nascimento ANTERIOR à do funcionário (>= 18 e <= 50 anos mais velho, limitado a 100 anos de idade total)
    - 'Filho(a)' tem sempre data de nascimento POSTERIOR à do funcionário (pelo menos 1 dia depois)
    """
    lista_dependentes = []
    # Usamos 'Pai/Mãe' como uma única categoria para simplificar
    parentescos_possiveis = ['Filho(a)', 'Cônjuge', 'Enteado(a)', 'Pai/Mãe', 'Filho(a)']  # Repetimos 'Filho(a)' para aumentar a probabilidade
    sexos_possiveis = ['Masculino', 'Feminino', 'Outro']

    for index, funcionario in funcionarios_df.iterrows():
        id_fun = funcionario['ID_fun']
        data_nasc_funcionario = funcionario['Data_nascimento']

        if random.random() < 0.7:
            num_dependentes = random.randint(1, 4)  # Aumentei para 4 para ter mais chance de criar duplicados para limpar

            for _ in range(num_dependentes):
                parentesco = random.choice(parentescos_possiveis)

                # Lógica para gerar data de nascimento conforme o parentesco
                if parentesco == 'Pai/Mãe':
                    # Calcular idade atual do funcionário
                    idade_funcionario = (date.today() - data_nasc_funcionario).days // 365
                    idade_minima_pai = idade_funcionario + 18
                    idade_maxima_pai = min(idade_funcionario + 50, 100)  # Limitar a 100 anos de idade
                    # Garantir limites válidos (se o funcionário for muito jovem, ajusta)
                    if idade_minima_pai > idade_maxima_pai:
                        idade_minima_pai = idade_maxima_pai - 1 if idade_maxima_pai > 0 else 18
                    data_nascimento = faker.date_of_birth(minimum_age=idade_minima_pai, maximum_age=idade_maxima_pai)
                elif parentesco == 'Filho(a)':
                    # Filho deve ser mais novo: gerar data depois da do funcionário
                    start_child = data_nasc_funcionario + timedelta(days=1)
                    # Se por algum motivo o funcionário nasceu "hoje", o filho terá a mesma regra +1 dia
                    if start_child >= date.today():
                        data_nascimento = start_child
                    else:
                        # Usa API explícita para limites de datas
                        data_nascimento = faker.date_between_dates(date_start=start_child, date_end=date.today())
                else:
                    # Outros dependentes podem ter qualquer idade plausível (0 a 80 anos de idade agora)
                    data_nascimento = faker.date_of_birth(minimum_age=0, maximum_age=80)

                dependente_record = {
                    "ID_Fun": id_fun,
                    "nome": faker.name(),
                    "sexo": random.choice(sexos_possiveis),
                    "data_nascimento": data_nascimento,
                    "parentesco": parentesco
                }
                lista_dependentes.append(dependente_record)

    # --- PASSO DE LIMPEZA ---

    # 1. Criar o DataFrame com os dados
    if not lista_dependentes:
        return pd.DataFrame()  # Retorna um DataFrame vazio se nenhum dependente foi gerado

    dependentes_bruto_df = pd.DataFrame(lista_dependentes)

    # 2. Separar os pais/mães dos outros dependentes
    pais_maes_df = dependentes_bruto_df[dependentes_bruto_df['parentesco'] == 'Pai/Mãe']
    outros_dependentes_df = dependentes_bruto_df[dependentes_bruto_df['parentesco'] != 'Pai/Mãe']

    # 3. Remover duplicados APENAS da parte dos pais/mães
    pais_maes_unicos_df = pais_maes_df.drop_duplicates(subset=['ID_Fun', 'parentesco'], keep='first')

    # 4. Juntar novamente as duas partes para ter o DataFrame final e limpo
    dependentes_final_df = pd.concat([pais_maes_unicos_df, outros_dependentes_df], ignore_index=True)

    return dependentes_final_df

In [53]:
Dependentes = criar_dependentes(Funcionarios)
Dependentes

      ID_Fun                    nome       sexo data_nascimento parentesco
0          3           Isaac Correia      Outro      1950-10-12    Pai/Mãe
1          4           Dinis Cardoso   Feminino      1935-10-14    Pai/Mãe
2          5       Ariana Maia-Anjos   Feminino      1942-03-09    Pai/Mãe
3         12         Ismael Loureiro  Masculino      1947-08-10    Pai/Mãe
4         13       José Maia-Pacheco   Feminino      1968-02-21    Pai/Mãe
...      ...                     ...        ...             ...        ...
1687     998  Marcos Moreira-Pacheco  Masculino      1985-07-10   Filho(a)
1688     998            Raquel Rocha  Masculino      1976-06-20    Cônjuge
1689    1000         César Magalhães   Feminino      2005-07-20   Filho(a)
1690    1000         Bryan Gonçalves  Masculino      2017-05-18   Filho(a)
1691    1000         Gustavo Andrade  Masculino      2015-03-06    Cônjuge

[1692 rows x 5 columns]

In [54]:
def criar_faltas(funcionarios_df):
    """
    Gera um histórico de faltas para os funcionários.
    Cada funcionário terá entre 0 e 10 faltas registadas.
    """
    lista_faltas = []
    justificacoes_comuns = ["Consulta médica","Doença súbita","Apoio à família","Assuntos pessoais urgentes","Procedimentos legais/burocráticos","Avaria de transporte", None, None] # Para simular faltas injustificadas

    # Itera sobre cada funcionário para criar o seu histórico de faltas
    for index, funcionario in funcionarios_df.iterrows():
        id_fun = funcionario['ID_fun']
        
        # Cada funcionário terá um número aleatório de faltas (de 0 a 10)
        num_faltas = int(np.random.normal(loc=3, scale=2))
        
        # Para evitar que as faltas do mesmo funcionário sejam todas no mesmo dia,
        # geramos um conjunto de datas únicas para este funcionário
        datas_possiveis = [faker.date_between(start_date='-3y', end_date='today') for _ in range(num_faltas)]
        datas_unicas = set(datas_possiveis) # 'set' remove datas duplicadas automaticamente
        
        for data_falta in datas_unicas:
            falta_record = {
                "ID_Fun": id_fun,
                "Data": data_falta,
                "Justificacao": random.choice(justificacoes_comuns)
            }
            lista_faltas.append(falta_record)
            
    return pd.DataFrame(lista_faltas)

In [55]:
Faltas = criar_faltas(Funcionarios)
Faltas

      ID_Fun        Data                       Justificacao
0          1  2025-06-23         Assuntos pessoais urgentes
1          1  2025-07-31                      Doença súbita
2          1  2024-09-15                    Apoio à família
3          2  2024-12-10                    Consulta médica
4          2  2025-03-07                               None
...      ...         ...                                ...
2653     997  2023-06-01                      Doença súbita
2654     998  2025-09-09         Assuntos pessoais urgentes
2655     998  2023-05-04                               None
2656     998  2025-02-23         Assuntos pessoais urgentes
2657     998  2025-01-22  Procedimentos legais/burocráticos

[2658 rows x 3 columns]

In [56]:
def criar_historico_empresas(funcionarios_df):
    """
    Gera um histórico profissional para os funcionários.
    O primeiro registo (i=0) é SEMPRE o emprego atual na 'bd054' com Data_fim NULL.
    Os registos seguintes (i>0) são empregos anteriores noutras empresas.
    """
    lista_historico = []
    
    
    # Itera sobre cada funcionário
    for index, funcionario in funcionarios_df.iterrows():
        id_fun = funcionario['ID_fun']
        
        # 80% de chance de o funcionário ter um histórico (além do atual)
        # Nota: Agora todos terão PELO MENOS 1 registo (o atual)
        num_historicos = random.randint(0, 3) # 0 = só tem o emprego atual

        # Âncora de data. Começa com a data de início do emprego atual
        # A data de início na 'bd054' é algures nos últimos 5 anos
        data_inicio_atual = faker.date_between(start_date='-5y', end_date='today')
        
        # A âncora para empregos anteriores será ANTES desta data
        latest_end_date = data_inicio_atual - timedelta(days=random.randint(30, 365)) # Intervalo entre empregos
            
        for i in range(num_historicos + 1): # +1 para incluir o emprego atual
            
            # --- MUDANÇA CRÍTICA AQUI ---
            if i == 0:
                # O primeiro registo é SEMPRE o emprego atual na bd054
                nome_empresa = 'bd054'
                data_fim = None # Correto, como você disse!
                data_inicio = data_inicio_atual
                # Usamos o cargo real do funcionário na nossa empresa
                cargo = funcionario['Cargo']

            else:
                # Empregos anteriores (i > 0)
                nome_empresa = faker.company()
                data_fim = latest_end_date # Terminou antes do emprego anterior
                data_inicio = data_fim - timedelta(days=random.randint(365, 365 * 5)) # Durou 1-5 anos
                cargo = faker.job()
                
                # Prepara a âncora para o próximo loop (o emprego ainda mais antigo)
                latest_end_date = data_inicio - timedelta(days=random.randint(30, 365))
            
            historico_record = {
                "ID_Fun": id_fun,
                "Nome_empresa": nome_empresa,
                "Cargo": cargo,
                "Data_inicio": data_inicio,
                "Data_fim": data_fim
            }
            lista_historico.append(historico_record)

    return pd.DataFrame(lista_historico)

In [57]:
Historico_empresas = criar_historico_empresas(Funcionarios)
Historico_empresas

,ID_Fun,Nome_empresa,Cargo,Data_inicio,Data_fim
0,1,bd054,Assistente Administrativo,2022-08-02,None
1,2,bd054,Agente de Atendimento ao Cliente,2024-11-12,None
2,2,Silva,Operador de máquinas e de equipamentos para tr...,2021-03-24,2024-09-25
3,3,bd054,Assistente Jurídico,2022-11-24,None
4,3,Lourenço S.A.,Encarregados das indústrias metalúrgicas de ba...,2019-03-23,2022-09-17
...,...,...,...,...,...
2556,999,bd054,Analista de Recursos Humanos,2022-03-13,None
2557,999,Rodrigues,Joalheiro,2017-09-03,2021-07-01
2558,999,Garcia Esteves S.A.,Terapeuta ocupacional,2013-01-01,2017-05-28
2559,1000,bd054,Contador,2025-09-03,None
2560,1000,Moreira,"Mecânico e reparador, de máquinas agrícolas e ...",2020-07-21,2025-04-27

In [58]:
def criar_modulo_recrutamento(funcionarios_df, departamentos_df, num_candidatos=200, num_vagas=50):
    """
    Gera dados para as tabelas Candidatos, Vagas, Requisitos_vaga e Candidato_a.
    """
    lista_candidatos = []
    lista_vagas = []
    lista_requisitos = []
    lista_candidaturas = []

    # --- 1. Gerar Candidatos ---
    for i in range(1, num_candidatos + 1):
        candidato_record = {
            "ID_cand": i,
            "Nome": faker.name(),
            "Email": faker.unique.email(),
            "Telemovel": faker.phone_number(),
            "CV": None, # BLOBs são representados como None
            "carta_motivacao": None
        }
        lista_candidatos.append(candidato_record)
    candidatos_df = pd.DataFrame(lista_candidatos)
    ids_candidatos_disponiveis = candidatos_df['ID_cand'].tolist()

    # --- 2. Gerar Vagas ---
    ids_departamentos_disponiveis = departamentos_df['ID_depart'].tolist()
    estados_vaga = ['Aberta', 'Fechada', 'Suspensa']

    for i in range(1, num_vagas + 1):
        vaga_record = {
            "ID_vaga": i,
            "Data_abertura": faker.date_between(start_date='-2y', end_date='today'),
            "Estado": random.choice(estados_vaga),
            "ID_depart": random.choice(ids_departamentos_disponiveis)
        }
        lista_vagas.append(vaga_record)
    vagas_df = pd.DataFrame(lista_vagas)
    
    # --- 3. Gerar Requisitos para cada Vaga ---
    requisitos_possiveis = [
        'Python', 'SQL', 'Gestão de Projetos', 'Comunicação', 'Inglês Fluente',
        'Análise de Dados', 'React', 'Liderança', 'Trabalho em Equipa', 'Excel Avançado',
        'Marketing Digital', 'Contabilidade', 'Java', 'Atendimento ao Cliente'
    ]
    for index, vaga in vagas_df.iterrows():
        # Cada vaga terá entre 2 e 5 requisitos
        num_requisitos = random.randint(2, 5)
        # Usamos random.sample para garantir que os requisitos para a mesma vaga são únicos
        requisitos_para_vaga = random.sample(requisitos_possiveis, num_requisitos)
        
        for req in requisitos_para_vaga:
            requisito_record = {
                "ID_vaga": vaga['ID_vaga'],
                "Requisito": req
            }
            lista_requisitos.append(requisito_record)
    requisitos_df = pd.DataFrame(lista_requisitos)

    # --- 4. Gerar Candidaturas (Candidato_a) ---
    # Para ser mais realista, vamos pegar nos IDs dos funcionários de RH para serem os recrutadores
    id_depart_rh = departamentos_df[departamentos_df['Nome'] == 'Recursos Humanos']['ID_depart'].iloc[0]
    ids_recrutadores = funcionarios_df[funcionarios_df['ID_depart'] == id_depart_rh]['ID_fun'].tolist()
    # Fallback: se não houver ninguém em RH, usamos qualquer funcionário
    if not ids_recrutadores:
        ids_recrutadores = funcionarios_df['ID_fun'].tolist()
        
    estados_candidatura = ['Submetido', 'Em análise', 'Entrevista', 'Rejeitado', 'Rejeitado', 'Rejeitado', 'Contratado']

    # Cada candidato vai candidatar-se a um número aleatório de vagas (0 a 3)
    for id_candidato in ids_candidatos_disponiveis:
        num_candidaturas = random.randint(0, 3)
        if num_candidaturas > 0:
            # Escolhe 'num_candidaturas' vagas aleatórias e únicas para se candidatar
            vagas_aplicadas = vagas_df.sample(num_candidaturas)
            
            for index, vaga in vagas_aplicadas.iterrows():
                # A data da candidatura tem de ser posterior à data de abertura da vaga
                data_candidatura = faker.date_between(start_date=vaga['Data_abertura'], end_date='today')
                
                candidatura_record = {
                    "ID_cand": id_candidato,
                    "ID_Vaga": vaga['ID_vaga'],
                    "Data_cand": data_candidatura,
                    "Estado": random.choice(estados_candidatura),
                    "ID_recrutador": random.choice(ids_recrutadores)
                }
                lista_candidaturas.append(candidatura_record)
    candidato_a_df = pd.DataFrame(lista_candidaturas)
    
    return candidatos_df, vagas_df, requisitos_df, candidato_a_df

In [59]:
Candidatos, Vagas, Requisitos_vaga, Candidato_a = criar_modulo_recrutamento(Funcionarios, Departamentos)

In [60]:
Candidatos

,ID_cand,Nome,Email,Telemovel,CV,carta_motivacao
0,1,Sofia Gaspar,wsa@example.com,933386003,None,None
1,2,Luana Assunção,yasminbrito@example.org,(351) 265818293,None,None
2,3,Lúcia Castro,motabruna@example.net,(351) 939903747,None,None
3,4,Emma Simões,dinis41@example.com,(351) 930 457 981,None,None
4,5,Lorena-Renata Rodrigues,nunesdiana@example.com,+351910587473,None,None
...,...,...,...,...,...,...
195,196,David Nascimento,silvamatilde@example.com,(351) 963 237 233,None,None
196,197,Afonso Miranda,obranco@example.com,918 606 161,None,None
197,198,Andreia Gomes,gcastro@example.org,(351) 243401044,None,None
198,199,Pedro Oliveira-Torres,claramelo@example.com,(351) 911 762 025,None,None
199,200,Filipa-Patrícia Valente,fmatos@example.net,917 793 500,None,None

In [61]:
Vagas

    ID_vaga Data_abertura    Estado  ID_depart
0         1    2025-04-29    Aberta          1
1         2    2023-12-05  Suspensa          7
2         3    2025-07-08  Suspensa          5
3         4    2025-05-20    Aberta          5
4         5    2024-12-11  Suspensa          7
5         6    2024-03-17   Fechada          6
6         7    2024-10-16    Aberta          5
7         8    2025-10-09    Aberta          4
8         9    2025-09-14  Suspensa          6
9        10    2024-11-04    Aberta          4
10       11    2025-04-10    Aberta          4
11       12    2024-03-29    Aberta          5
12       13    2025-03-12    Aberta          8
13       14    2024-07-18    Aberta          6
14       15    2024-01-24    Aberta          5
15       16    2024-12-29  Suspensa          5
16       17    2024-05-28    Aberta          3
17       18    2024-09-03   Fechada          6
18       19    2024-10-13    Aberta          2
19       20    2025-01-18   Fechada          3
20       21    2025-11-13  Suspensa          7
21       22    2025-04-27    Aberta          1
22       23    2025-10-18    Aberta          1
23       24    2024-09-02  Suspensa          7
24       25    2024-11-03  Suspensa          8
25       26    2024-06-07  Suspensa          7
26       27    2024-08-25    Aberta          5
27       28    2025-02-14   Fechada          7
28       29    2024-06-13   Fechada          5
29       30    2024-06-30  Suspensa          5
30       31    2025-01-22   Fechada          5
31       32    2025-03-11    Aberta          7
32       33    2024-07-11  Suspensa          4
33       34    2025-10-11   Fechada          1
34       35    2024-07-24  Suspensa          2
35       36    2025-05-21    Aberta          7
36       37    2024-12-25  Suspensa          1
37       38    2025-02-20    Aberta          8
38       39    2025-03-27  Suspensa          8
39       40    2025-05-21    Aberta          4
40       41    2025-06-16   Fechada          6
41       42    2024-05-23  Suspensa          8
42       43    2024-01-19   Fechada          7
43       44    2025-08-23  Suspensa          7
44       45    2024-01-22    Aberta          3
45       46    2024-06-15    Aberta          5
46       47    2025-05-11    Aberta          1
47       48    2025-05-10   Fechada          4
48       49    2025-06-13   Fechada          6
49       50    2024-02-12  Suspensa          3

In [62]:
Requisitos_vaga

     ID_vaga               Requisito
0          1             Comunicação
1          1               Liderança
2          2             Comunicação
3          2                    Java
4          2               Liderança
..       ...                     ...
159       49       Marketing Digital
160       49             Comunicação
161       50      Trabalho em Equipa
162       50        Análise de Dados
163       50  Atendimento ao Cliente

[164 rows x 2 columns]

In [63]:
Candidato_a

     ID_cand  ID_Vaga   Data_cand      Estado  ID_recrutador
0          1        7  2025-02-21   Rejeitado            593
1          1       11  2025-08-05   Rejeitado            689
2          1       28  2025-03-02   Rejeitado            465
3          3       40  2025-08-15   Submetido            894
4          3       39  2025-10-02  Entrevista            343
..       ...      ...         ...         ...            ...
290      197       15  2024-05-31  Em análise            256
291      199       39  2025-09-13   Submetido            409
292      199       35  2025-09-05   Rejeitado            444
293      200       33  2025-11-07  Contratado            105
294      200       36  2025-07-10  Entrevista            655

[295 rows x 5 columns]

In [64]:
def criar_catalogo_formacoes():
    """
    Cria um catálogo fixo e manual de 5 formações com descrições realistas.
    """
    dados_formacoes = [
        {"ID_for": 1, "Nome_formacao": 'Liderança e Gestão de Equipas', "Descricao": 'Desenvolver competências de liderança, motivação e gestão de conflitos para chefes de equipa.', "Data_inicio": date(2023, 10, 5), "Data_fim": date(2023, 10, 10), "Estado": 'Concluida'},
        {"ID_for": 2, "Nome_formacao": 'Cibersegurança para Colaboradores', "Descricao": 'Sensibilizar para as melhores práticas de segurança digital, phishing e proteção de dados.', "Data_inicio": date(2024, 3, 15), "Data_fim": date(2024, 3, 16), "Estado": 'Concluida'},
        {"ID_for": 3, "Nome_formacao": 'Análise de Dados com Python', "Descricao": 'Introdução à análise de dados utilizando as bibliotecas Pandas e Matplotlib.', "Data_inicio": date(2024, 9, 2), "Data_fim": date(2024, 9, 13), "Estado": 'Em curso'},
        {"ID_for": 4, "Nome_formacao": 'Técnicas de Negociação e Vendas', "Descricao": 'Aperfeiçoar técnicas de comunicação, persuasão e fecho de negócios para a equipa comercial.', "Data_inicio": date(2025, 2, 10), "Data_fim": date(2025, 2, 14), "Estado": 'Planeada'},
        {"ID_for": 5, "Nome_formacao": 'Inteligência Emocional no Trabalho', "Descricao": 'Gerir emoções, melhorar o autoconhecimento e a empatia nas relações interpessoais no trabalho.', "Data_inicio": date(2025, 5, 19), "Data_fim": date(2025, 5, 20), "Estado": 'Planeada'}
    ]
    
    return pd.DataFrame(dados_formacoes)

In [65]:
Formacoes = criar_catalogo_formacoes()
Formacoes

,ID_for,Nome_formacao,Descricao,Data_inicio,Data_fim,Estado
0,1,Liderança e Gestão de Equipas,"Desenvolver competências de liderança, motivaç...",2023-10-05,2023-10-10,Concluida
1,2,Cibersegurança para Colaboradores,Sensibilizar para as melhores práticas de segu...,2024-03-15,2024-03-16,Concluida
2,3,Análise de Dados com Python,Introdução à análise de dados utilizando as bi...,2024-09-02,2024-09-13,Em curso
3,4,Técnicas de Negociação e Vendas,"Aperfeiçoar técnicas de comunicação, persuasão...",2025-02-10,2025-02-14,Planeada
4,5,Inteligência Emocional no Trabalho,"Gerir emoções, melhorar o autoconhecimento e a...",2025-05-19,2025-05-20,Planeada

In [66]:
def criar_teve_formacao(funcionarios_df, formacoes_df):
    """
    Gera as inscrições dos funcionários nas formações.
    Garante que as datas de participação do funcionário estão DENTRO
    do período em que a formação esteve ativa.
    """
    lista_teve_formacao = []

    for index, funcionario in funcionarios_df.iterrows():
        if random.random() < 0.6:
            num_formacoes_feitas = random.randint(1, 2)
            formacoes_a_inscrever = formacoes_df.sample(num_formacoes_feitas)
            
            for _, formacao in formacoes_a_inscrever.iterrows():
                
                # --- LÓGICA DE DATA CORRIGIDA AQUI ---
                
                # 1. Definir os limites da formação
                formacao_inicio = formacao['Data_inicio']
                formacao_fim = formacao['Data_fim']
                
                # 2. Gerar uma data de início de participação DENTRO desse período
                # (usamos date_between_dates para trabalhar com objetos date)
                data_inicio_participacao = faker.date_between_dates(date_start=formacao_inicio, date_end=formacao_fim)
                
                # 3. Gerar uma data de fim de participação DENTRO do que resta do período
                data_fim_participacao = faker.date_between_dates(date_start=data_inicio_participacao, date_end=formacao_fim)
                
                # --- FIM DA CORREÇÃO ---

                teve_formacao_record = {
                    "ID_Fun": funcionario['ID_fun'],
                    "ID_for": formacao['ID_for'],
                    "Certificado": None, # BLOB
                    "Data_inicio": data_inicio_participacao, # Data corrigida
                    "Data_fim": data_fim_participacao      # Data corrigida
                }
                lista_teve_formacao.append(teve_formacao_record)

    return pd.DataFrame(lista_teve_formacao)

In [67]:
Teve_Formacao = criar_teve_formacao(Funcionarios, Formacoes)
Teve_Formacao

     ID_Fun  ID_for Certificado Data_inicio    Data_fim
0         1       2        None  2024-03-15  2024-03-15
1         2       4        None  2025-02-11  2025-02-13
2         2       2        None  2024-03-15  2024-03-15
3         5       3        None  2024-09-03  2024-09-05
4         6       5        None  2025-05-19  2025-05-19
..      ...     ...         ...         ...         ...
839     996       1        None  2023-10-05  2023-10-08
840     997       3        None  2024-09-09  2024-09-11
841     997       4        None  2025-02-13  2025-02-13
842     999       2        None  2024-03-15  2024-03-15
843     999       5        None  2025-05-19  2025-05-19

[844 rows x 5 columns]

In [68]:
FRASES_CRITERIOS = [
    "Avaliação da pontualidade e assiduidade no último semestre.",
    "Desempenho nos projetos de equipa e capacidade de colaboração.",
    "Capacidade de resolução de problemas e tomada de decisão.",
    "Qualidade da comunicação com o cliente e stakeholders internos.",
    "Iniciativa e proatividade na sugestão de novas melhorias.",
    "Qualidade técnica do trabalho entregue e atenção ao detalhe.",
    "Gestão de tempo, cumprimento de prazos e organização."
]

FRASES_AUTOAVALIACAO = [
    "Sinto que atingi todos os meus objetivos principais este semestre.",
    "Completei a formação X e sinto-me mais confiante nas minhas tarefas.",
    "Gostaria de ter mais formação na área de análise de dados para contribuir melhor.",
    "Consegui melhorar a minha organização e gestão de tempo, como foi discutido.",
    "Tive alguma dificuldade em gerir o projeto Y, mas aprendi muito com o processo.",
    "Preciso de focar-me em ser mais conciso nas reuniões de equipa."
]


def criar_avaliacoes(funcionarios_df, num_avaliacoes=400):
    """
    Gera um número fixo de avaliações (ex: 40) com frases realistas,
    IDs de avaliadores inteiros e uma avaliação numérica.

    Notas:
    - Avaliacao_Numerica é um inteiro de 1 a 5 (escala Likert). Pode ser ajustado conforme necessário.
    """
    lista_avaliacoes = []
    
    # Obter uma lista de todos os IDs de funcionários
    ids_funcionarios_disponiveis = funcionarios_df['ID_fun'].tolist()

    # Se não houver funcionários, não podemos fazer nada
    if not ids_funcionarios_disponiveis or len(ids_funcionarios_disponiveis) < 2:
        print("Aviso: É preciso ter pelo menos 2 funcionários para gerar avaliações.")
        return pd.DataFrame()

    for _ in range(num_avaliacoes):
        
        # 1. Escolhe um funcionário para ser AVALIADO
        id_fun_avaliado = random.choice(ids_funcionarios_disponiveis)
        
        # 2. Escolhe um AVALIADOR
        id_avaliador = random.choice(ids_funcionarios_disponiveis)
        
        # 3. Garante que não é a mesma pessoa (autoavaliação é noutro campo)
        while id_avaliador == id_fun_avaliado:
            id_avaliador = random.choice(ids_funcionarios_disponiveis)
            
        # 4. Gera uma data única para a chave primária
        data_avaliacao = faker.date_between(start_date='-3y', end_date='today')

        # 5. 70% de chance de ter uma autoavaliação
        autoavaliacao = random.choice(FRASES_AUTOAVALIACAO) if random.random() < 0.7 else None

        # 6. Avaliação numérica (1 a 5)
        avaliacao_numerica = random.randint(1, 5)
        
        avaliacao_record = {
            "ID_Fun": id_fun_avaliado,
            "ID_avaliador": id_avaliador, # Isto será sempre um INT
            "Data": data_avaliacao,
            "Avaliacao": None, # BLOB
            "Criterios": random.choice(FRASES_CRITERIOS), # Frase realista
            "Autoavaliacao": autoavaliacao, # Frase realista ou None
            "Avaliacao_Numerica": avaliacao_numerica
        }
        
        lista_avaliacoes.append(avaliacao_record)

    # Criar o DataFrame
    avaliacoes_df = pd.DataFrame(lista_avaliacoes)

    # Salvaguarda: Remove duplicados na chave primária (caso tenhamos gerado o mesmo trio por acaso)
    avaliacoes_df = avaliacoes_df.drop_duplicates(subset=['ID_Fun', 'ID_avaliador', 'Data'], keep='first')
    return avaliacoes_df

In [69]:
Avaliacoes = criar_avaliacoes(Funcionarios)
Avaliacoes

,ID_Fun,ID_avaliador,Data,Avaliacao,Criterios,Autoavaliacao,Avaliacao_Numerica
0,756,807,2025-02-04,None,"Gestão de tempo, cumprimento de prazos e organ...","Tive alguma dificuldade em gerir o projeto Y, ...",1
1,752,627,2025-05-06,None,Iniciativa e proatividade na sugestão de novas...,Gostaria de ter mais formação na área de análi...,1
2,640,314,2024-03-22,None,Capacidade de resolução de problemas e tomada ...,Completei a formação X e sinto-me mais confian...,1
3,65,761,2023-12-20,None,Capacidade de resolução de problemas e tomada ...,None,3
4,875,827,2024-03-13,None,"Gestão de tempo, cumprimento de prazos e organ...",Gostaria de ter mais formação na área de análi...,3
...,...,...,...,...,...,...,...
395,199,201,2025-04-10,None,"Gestão de tempo, cumprimento de prazos e organ...",Sinto que atingi todos os meus objetivos princ...,3
396,511,292,2024-04-22,None,"Gestão de tempo, cumprimento de prazos e organ...",None,1
397,806,952,2022-12-23,None,"Gestão de tempo, cumprimento de prazos e organ...",None,3
398,949,148,2024-03-06,None,Capacidade de resolução de problemas e tomada ...,Preciso de focar-me em ser mais conciso nas re...,3
399,577,245,2025-05-05,None,Qualidade técnica do trabalho entregue e atenç...,Completei a formação X e sinto-me mais confian...,4

In [70]:
def criar_utilizadores_permissoes(funcionarios_df):
    """
    Gera dados para as tabelas Utilizadores e Permissoes.
    Cria um utilizador para cada funcionário e atribui permissões aleatórias.
    """
    lista_utilizadores = []
    lista_permissoes = []
    
    # A sua lista de permissões válidas
    permissoes_possiveis = ['Funcionario', 'Manager', 'RH', 'Admin', 'Financeiro']

    # Itera sobre CADA funcionário para criar uma conta de utilizador
    for index, funcionario in funcionarios_df.iterrows():
        id_fun = funcionario['ID_fun']
        
        # --- 1. Criar o registo na tabela Utilizadores ---
        utilizador_record = {
            "ID_Fun": id_fun,
            # Gera uma password aleatória. 'special_chars=False' para caber no VARCHAR(30)
            "Password": faker.password(length=12, special_chars=False) 
        }
        lista_utilizadores.append(utilizador_record)
        
        # --- 2. Criar os registos na tabela Permissoes ---
        
        # Cada utilizador terá entre 1 e 3 permissões
        num_permissoes = random.randint(1, 3)
        
        # Escolhe 'num_permissoes' permissões únicas da lista
        permissoes_para_este_user = random.sample(permissoes_possiveis, num_permissoes)
        
        # Cria um registo para cada permissão atribuída
        for perm in permissoes_para_este_user:
            permissao_record = {
                "ID_Fun": id_fun,
                "Permissao": perm
            }
            lista_permissoes.append(permissao_record)

    utilizadores_df = pd.DataFrame(lista_utilizadores)
    permissoes_df = pd.DataFrame(lista_permissoes)
    
    return utilizadores_df, permissoes_df

In [71]:
Utilizadores, Permissoes = criar_utilizadores_permissoes(Funcionarios)

In [72]:
Utilizadores

     ID_Fun      Password
0         1  uvr57sGakQUu
1         2  mPFLGuRzsv9p
2         3  LRtxdUAoYZ9Q
3         4  eSHQPsDbt2uH
4         5  4Rr4KsjLIaUo
..      ...           ...
995     996  9K8eIorZd0LS
996     997  sVNqIgbp9QRO
997     998  OBfeMOts8vCt
998     999  X6dwqjCBosVb
999    1000  9GAG1tVc7Mlz

[1000 rows x 2 columns]

In [73]:
Permissoes

      ID_Fun    Permissao
0          1           RH
1          2        Admin
2          3           RH
3          4        Admin
4          4  Funcionario
...      ...          ...
2053     997   Financeiro
2054     998           RH
2055     999  Funcionario
2056    1000   Financeiro
2057    1000           RH

[2058 rows x 2 columns]

In [74]:
import pandas as pd
from datetime import date, datetime
import math

print("A iniciar a geração do ficheiro 'dados_insercao.sql' (um INSERT por tabela)...")

# --- Função Auxiliar (sem alterações) ---
def formatar_valor_sql(valor):
    if pd.isna(valor) or valor is None:
        return "NULL"
    if isinstance(valor, str):
        return "'" + valor.replace("'", "''") + "'"
    if isinstance(valor, (int, float)):
        return str(valor)
    if isinstance(valor, (date, datetime)):
        return f"'{valor.isoformat()}'"
    return f"'{str(valor)}'"

# --- Dicionário com todos os DataFrames (sem alterações) ---
todos_dataframes = {
    "Remuneracoes": Remuneracoes,
    "Salario": Salarios,
    "Beneficios": Beneficios,
    "Ferias": Ferias,
    "Dependentes": Dependentes,
    "Faltas": Faltas,
    "Historico_empresas": Historico_empresas,
    "Candidatos": Candidatos,
    "Vagas": Vagas,
    "Candidato_a": Candidato_a,
    "Requisitos_vaga": Requisitos_vaga,
    "Formacoes": Formacoes,
    "Teve_Formacao": Teve_Formacao,
    "Avaliacoes": Avaliacoes,
    "Utilizadores": Utilizadores,
    "Permissoes": Permissoes
}

# --- NOVO: Função para gerar UM ÚNICO INSERT por tabela ---
def escrever_insert_unico_sql(f, df, nome_tabela, colunas_sql=None):
    """
    Escreve um DataFrame num ficheiro SQL usando UMA ÚNICA instrução INSERT.
    """
    if df.empty:
        f.write(f"\n-- Tabela {nome_tabela} está vazia. A saltar.\n")
        return

    f.write(f"\n-- Dados para {nome_tabela}\n")
    
    if colunas_sql:
        cols_sql = colunas_sql
    else:
        cols_sql = ", ".join(df.columns)
    
    # Escreve o início da instrução
    f.write(f"INSERT INTO {nome_tabela} ({cols_sql}) VALUES\n")
    
    linhas_de_valores = []
    # Itera por TODAS as linhas do DataFrame
    for row in df.itertuples(index=False, name=None):
        valores_formatados = f"({', '.join([formatar_valor_sql(val) for val in row])})"
        linhas_de_valores.append(valores_formatados)
    
    # Junta todas as linhas de valores com uma vírgula
    f.write(",\n".join(linhas_de_valores))
    f.write(";\n") # Termina a instrução INSERT

# --- Processo de Escrita do Ficheiro (Atualizado) ---
try:
    with open('dados_insercao.sql', 'w', encoding='utf-8') as f:
        f.write("-- Script de Inserção de Dados Gerado Automaticamente\n")

        # 1. Departamentos (Inserir com gerente NULL)
        df_deptos_temp = Departamentos[['ID_depart', 'Nome']].copy()
        df_deptos_temp['ID_gerente'] = None
        escrever_insert_unico_sql(f, df_deptos_temp, "Departamentos", colunas_sql="ID_depart, Nome, ID_gerente")
        
        # 2. Funcionarios
        escrever_insert_unico_sql(f, Funcionarios, "Funcionarios")

        # 3. UPDATE Departamentos (Agora com os gerentes)
        f.write("\n-- 3. Atualização dos Gerentes nos Departamentos\n")
        for row in Departamentos.itertuples(index=False):
            if pd.notna(row.ID_gerente):
                f.write(f"UPDATE Departamentos SET ID_gerente = {int(row.ID_gerente)} WHERE ID_depart = {row.ID_depart};\n")

        # 4. Inserção de todas as outras tabelas
        f.write("\n-- 4. Inserção das restantes tabelas\n")
        for nome_tabela, df in todos_dataframes.items():
            
            # Lógica especial para Candidato_a para renomear colunas
            if nome_tabela == 'Candidato_a':
                escrever_insert_unico_sql(f, df, nome_tabela, colunas_sql="ID_cand, ID_Vaga, Data_cand, Estado, ID_recrutador")
            else:
                escrever_insert_unico_sql(f, df, nome_tabela)


    print("O ficheiro 'dados_insercao.sql' foi gerado com sucesso.")

except Exception as e:
    print(f"\n--- ERRO ---")
    print(f"Ocorreu um erro ao gerar o ficheiro: {e}")
    print("Verifique os nomes dos seus DataFrames.")

A iniciar a geração do ficheiro 'dados_insercao.sql' (um INSERT por tabela)...
O ficheiro 'dados_insercao.sql' foi gerado com sucesso.